// Colors
$text-dark: #847F7D;
$text-white: #FFFEFC;
$orange: #FF6C3D;
$purple: #7A87FF;
$dark: #1C1B19;

$font-inter: 'Inter', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-rubik: 'Rubik', sans-serif;