// Colors
$text-dark: #847f7d;
$text-white: #fffefc;
$orange: #ff6c3d;
$purple: #7a87ff;
$dark: #1c1b19;

$font-inter: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-rubik: "Rubik", sans-serif;
