<section class="mail-sub">
    <div class="container">
        <div class="mail-sub__block">
            <div class="mail-sub__heading">
                <img class="mail-sub__heading_icon" src="assets/images/new-footer/1.png" alt="Иконка">
                <div class="mail-sub__heading_block">
                    <div class="mail-sub__heading_title">Рассылка GameBis.com</div>
                    <div class="mail-sub__heading_text">Игровые новости, акции, скидки, бонусы</div>
                </div>
            </div>
            <div class="mail-sub__content">
                <div class="mail-sub__form">
                    <input class="mail-sub__form_input" placeholder="Введите свой e-mail" type="text">
                    <button type="button" class="mail-sub__form_button">Подписаться</button>
                </div>
                <a href="#" class="mail-sub__form_agreement">Подписываясь, вы принимаете <span
                        class="mail-sub__form_agreement--active">правила рассылок</span></a>
            </div>
        </div>
    </div>
</section>

<footer class="new-footer">
    <div class="new-footer__left-shape"></div>
    <div class="new-footer__right-shape"></div>
    <div class="container">
        <div class="new-footer__block">
            <div class="new-footer__content">
                <div class="new-footer__menu">
                    <div class="new-footer__menu_title">Продукты</div>
                    <a href="#" class="new-footer__menu_link">Пополнить стим</a>
                    <a href="#" class="new-footer__menu_link">Стим Россия</a>
                    <a href="#" class="new-footer__menu_link">Купить игры Стим</a>
                    <a href="#" class="new-footer__menu_link">Пополение мобильных игр</a>
                    <a href="#" class="new-footer__menu_link">Купить Гифт Игры</a>
                    <a href="#" class="new-footer__menu_link">Купить Игры ключом</a>
                </div>
                <div class="new-footer__menu">
                    <div class="new-footer__menu_title">Полезное</div>
                    <a href="#" class="new-footer__menu_link">Главная страница</a>
                    <a href="#" class="new-footer__menu_link">Блог</a>
                    <a href="#" class="new-footer__menu_link">Отзывы</a>
                    <a href="#" class="new-footer__menu_link">Гарантии</a>
                    <a href="#" class="new-footer__menu_link">Как купить</a>
                    <a href="#" class="new-footer__menu_link">Партнерская программа</a>
                </div>
                <div class="new-footer__menu">
                    <div class="new-footer__menu_title">Game Biss</div>
                    <a href="#" class="new-footer__menu_link">О нас</a>
                    <a href="#" class="new-footer__menu_link">Контакты</a>
                    <a href="#" class="new-footer__menu_link">Акции и скидки</a>
                </div>
                <div class="new-footer__actions">
                    <div class="new-footer__actions_card">
                        <a href="#" class="new-footer__actions_link">8 800 606 60 60</a>
                        <div class="new-footer__actions_title">Горячая линия поддержки</div>
                    </div>
                    <div class="new-footer__actions_card">
                        <a href="#" class="new-footer__actions_link">Support online</a>
                        <div class="new-footer__actions_title">Написать в поддержку телеграм</div>
                    </div>
                </div>
            </div>
            <div class="new-footer__footer">
                <div class="new-footer__logo">
                    <img class="new-footer__logo_img" src="assets/images/new-footer/logo.svg" alt="">
                    <div class="new-footer__logo_title">Game<span class="new-footer__logo_title--active">Bis</span>
                    </div>
                </div>
                <button type="button" class="new-footer__top">Наверх</button>
            </div>
        </div>
    </div>
</footer>