.footer {

    &__bg {
        position: relative;
        overflow: hidden;
    }

    &__shape-1 {
        background: linear-gradient(143.97deg, rgba(51, 50, 49, 0.1) 0%, rgba(79, 79, 79, 0.05) 32.496%, rgba(79, 79, 79, 0.1) 51.581%);
        clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
        width: 40%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

        @include mobile {
            display: none;
        }
    }

    &__shape-2 {
        background: linear-gradient(157.72deg, rgba(135, 61, 37, 0.39) -0.323%, rgba(255, 108, 61, 0.39) 92.563%);
        width: 30%;
        height: 22px;
        clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
        position: absolute;
        left: 0;
        bottom: 0;

        @include mobile {
            display: none;
        }
    }

    &__shape-3 {
        background: linear-gradient(142.31deg, rgba(51, 50, 49, 0.1) 0%, rgba(79, 79, 79, 0.05) 33.954%, rgba(79, 79, 79, 0.1) 53.895%);
        width: 40%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%);
        position: absolute;
        right: 0;
        bottom: 0;

        @include mobile {
            display: none;
        }
    }

    &__shape-4 {
        background: linear-gradient(157.72deg, rgba(135, 61, 37, 0.39) -0.323%, rgba(255, 108, 61, 0.39) 92.563%);
        width: 30%;
        height: 22px;
        clip-path: polygon(0 0, 0 0, 100% 100%, 100% 0%);
        position: absolute;
        right: 0;
        top: 0;

        @include mobile {
            display: none;
        }
    }

}

.payment-footer {
    padding: 20px 0;
    border-top: 2px solid #272624;
    border-bottom: 2px solid #121110;


    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        height: 61px;
        filter: grayscale(1) brightness(0.5);
        transition: 200ms ease;

        &:hover {
            filter: none;
        }
    }

    &__item {
        display: flex;
    }
}

.advantages-footer {
    padding: 20px 0;
    border-top: 2px solid #272624;
    border-bottom: 2px solid #121110;
    position: relative;
    z-index: 2;

    @include mobile {
        display: none;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }



    &__img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    &__title {
        text-align: center;
        color: $text-dark;
        margin-top: 10px;
        line-height: 1.1;

        @include netbook {
            font-size: 14px;
        }
    }

    &__item {
        width: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            .advantages-footer__img {
                filter: brightness(0) saturate(100%) invert(46%) sepia(78%) saturate(646%) hue-rotate(329deg) brightness(102%) contrast(100%);
            }

            .advantages-footer__title {
                color: white;
            }
        }
    }
}

.footer-contact {
    border-top: 2px solid #272624;
    border-bottom: 2px solid #121110;
    position: relative;
    z-index: 2;

    &__block {}

    &__links {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        gap: 20px;

        @include netbook {
            flex-direction: column;
            align-items: center;

            gap: 40px;
        }
    }

    &__menu {
        display: flex;
        gap: 40px;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        &_item {
            &:hover {
                color: $orange;
            }
        }
    }

    &__social {
        display: flex;
        gap: 20px;


        &_item {
            height: 25px;
            transition: 0ms;

            &:hover {
                filter: brightness(0) saturate(100%) invert(46%) sepia(78%) saturate(646%) hue-rotate(329deg) brightness(102%) contrast(100%);
            }
        }
    }

    &__brands {
        margin-top: 30px;
        margin-bottom: 60px;

        .swiper-wrapper {
            @include netbook {
                justify-content: center;
            }
        }

        .swiper-slide {
            width: auto;
        }
    }

    &__brand {
        width: auto;
        height: 41px;

        &:hover {
            filter: brightness(4);
        }

        @include mobile {
            width: 100%;
        }
    }
}

.footer-bottom {
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 1px solid #272624;
    background-color: $dark;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &__text {
        color: $text-dark;

        @include netbook {
            width: 100%;
            max-width: 355px;
        }

        &_white {
            color: $text-white;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 28px;
    }

    &__link {}
}

.footerSwiper {
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

