.footer {

    &__bg {
        position: relative;
        overflow: hidden;
    }

    &__shape-1 {
        background: linear-gradient(143.97deg, rgba(51, 50, 49, 0.1) 0%, rgba(79, 79, 79, 0.05) 32.496%, rgba(79, 79, 79, 0.1) 51.581%);
        clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
        width: 40%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

        @include mobile {
            display: none;
        }
    }

    &__shape-2 {
        background: linear-gradient(157.72deg, rgba(135, 61, 37, 0.39) -0.323%, rgba(255, 108, 61, 0.39) 92.563%);
        width: 30%;
        height: 22px;
        clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
        position: absolute;
        left: 0;
        bottom: 0;

        @include mobile {
            display: none;
        }
    }

    &__shape-3 {
        background: linear-gradient(142.31deg, rgba(51, 50, 49, 0.1) 0%, rgba(79, 79, 79, 0.05) 33.954%, rgba(79, 79, 79, 0.1) 53.895%);
        width: 40%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%);
        position: absolute;
        right: 0;
        bottom: 0;

        @include mobile {
            display: none;
        }
    }

    &__shape-4 {
        background: linear-gradient(157.72deg, rgba(135, 61, 37, 0.39) -0.323%, rgba(255, 108, 61, 0.39) 92.563%);
        width: 30%;
        height: 22px;
        clip-path: polygon(0 0, 0 0, 100% 100%, 100% 0%);
        position: absolute;
        right: 0;
        top: 0;

        @include mobile {
            display: none;
        }
    }

}

.payment-footer {
    padding: 20px 0;
    border-top: 2px solid #272624;
    border-bottom: 2px solid #121110;


    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        height: 61px;
        filter: grayscale(1) brightness(0.5);
        transition: 200ms ease;

        &:hover {
            filter: none;
        }
    }

    &__item {
        display: flex;
    }
}

.advantages-footer {
    padding: 20px 0;
    border-top: 2px solid #272624;
    border-bottom: 2px solid #121110;
    position: relative;
    z-index: 2;

    @include mobile {
        display: none;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }



    &__img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    &__title {
        text-align: center;
        color: $text-dark;
        margin-top: 10px;
        line-height: 1.1;

        @include netbook {
            font-size: 14px;
        }
    }

    &__item {
        width: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            .advantages-footer__img {
                filter: brightness(0) saturate(100%) invert(46%) sepia(78%) saturate(646%) hue-rotate(329deg) brightness(102%) contrast(100%);
            }

            .advantages-footer__title {
                color: white;
            }
        }
    }
}

.footer-contact {
    border-top: 2px solid #272624;
    border-bottom: 2px solid #121110;
    position: relative;
    z-index: 2;

    &__block {}

    &__links {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        gap: 20px;

        @include netbook {
            flex-direction: column;
            align-items: center;

            gap: 40px;
        }
    }

    &__menu {
        display: flex;
        gap: 40px;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        &_item {
            &:hover {
                color: $orange;
            }
        }
    }

    &__social {
        display: flex;
        gap: 20px;


        &_item {
            height: 25px;
            transition: 0ms;

            &:hover {
                filter: brightness(0) saturate(100%) invert(46%) sepia(78%) saturate(646%) hue-rotate(329deg) brightness(102%) contrast(100%);
            }
        }
    }

    &__brands {
        margin-top: 30px;
        margin-bottom: 60px;

        .swiper-wrapper {
            @include netbook {
                justify-content: center;
            }
        }

        .swiper-slide {
            width: auto;
        }
    }

    &__brand {
        width: auto;
        height: 41px;

        &:hover {
            filter: brightness(4);
        }

        @include mobile {
            width: 100%;
        }
    }
}

.footer-bottom {
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 1px solid #272624;
    background-color: $dark;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &__text {
        color: $text-dark;

        @include netbook {
            width: 100%;
            max-width: 355px;
        }

        &_white {
            color: $text-white;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 28px;
    }

    &__link {}
}

.footerSwiper {
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

.footer-to-top {
    background-color: $dark;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0px;
    transition: 300ms ease;
    z-index: 5;

    svg {
        position: relative;
        bottom: -5px;
        transition: 200ms ease;

        &:hover {
            bottom: 0;

            .footer-to-top__bg {
                fill: $orange;
            }
        }
    }

}

.main-login {
    position: fixed;
    width: 100%;
    height: 101vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;

    &._active {
        opacity: 1;
        visibility: visible;
    }


    &__overlay {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(16, 15, 14, 0.78);
        backdrop-filter: blur(24.850000381469727px);
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 820px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 50px 30px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__form {
        border-radius: 10px;
        border: 1px solid #FF6C3D;
        background: #1A1917;
        box-shadow: 0px 4px 20.8px 0px rgba(0, 0, 0, 0.60);
        padding: 80px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &_block {
            width: 100%;
            max-width: 610px;
        }
    }

    &__btns {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 30px 10px;
        margin-top: 10px;
    }

    &__close {
        border-radius: 5px;
        background: #2E2D2B;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        position: absolute;
        top: 20px;
        right: 20px;
        transition: 300ms ease;

        &:hover {
            border-color: $orange;

            svg path {
                fill: $orange;
            }
        }
    }

    &__login {
        border-radius: 3px;
        border: 1.258px solid #33302D;
        background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);
        width: 100%;
        padding: 10px;
        color: $text-dark;
        transition: 300ms ease;

        &:hover {
            border-color: $orange;
            color: white;
        }
    }

    &__social {
        border-radius: 50px;
        background: #262421;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        border: 1px solid transparent;

        &_img {
            width: 36px;
            height: 36px;
            display: flex;
        }

        &:hover {
            border: 1px solid $orange;
            color: white;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 42px;
    }

    &__input {
        margin-bottom: 10px;
        position: relative;

        ._input {
            padding: 15px 20px;
            line-height: 1;
            border-radius: 6px;
            border: 1px solid #34312D;
            background: #1C1B19;

            &:hover {
                border-color: $orange;
            }
        }

        ._forget {
            border-radius: 4px;
            background: #282725;
            padding: 9px 20px;
            font-size: 12px;
            color: $text-dark;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            line-height: 1;
        }
    }

    &__noaccount {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        line-height: 1.1;

        &_title {
            color: $text-dark;
            font-size: 14px;
        }

        &_link {
            font-size: 16px;
            font-weight: 500;
            color: $orange;
            border-bottom: 1px solid;
        }
    }

    &__promo {
        border-radius: 10px;
        border: 1px solid #FF6C3D;
        background: linear-gradient(0deg, rgba(29, 27, 25, 0.96) 0%, rgba(29, 27, 25, 0.96) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 0px 4px 28.9px 0px #000;
        backdrop-filter: blur(33.650001525878906px);
        padding: 30px 55px;
        padding-right: 70px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        position: relative;

        &_content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            line-height: 1;
        }

        &_title {
            font-size: 24px;
            font-weight: 700;
            color: white;
        }

        &_subtitle {
            font-size: 14px;
            font-weight: 500;
            color: $text-dark;

            ._orange {
                color: $orange;
            }
        }

        &_copy {
            border-radius: 115.5px;
            background: $orange;
            box-shadow: 0px 0px 69.1px -17px $orange;
            font-size: 32px;
            padding: 14px 40px;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 30px;
            position: relative;

            &_bg {
                position: absolute;
                width: auto;
                height: 150px;
            }
        }

        &_svg {
            position: absolute;

            &._svg-1 {
                left: 24px;
                top: -20px;
            }

            &._svg-2 {
                right: 24px;
                top: -20px;
            }
        }
    }
}