.new-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  /* background: #191816; */

  &.active {
    .new-header__bottom {
      visibility: hidden;
      opacity: 0;
      height: 0;
      padding: 0;
      transition: visibility 0s linear 0s, opacity 0ms ease, height 150ms ease,
        padding 150ms ease;
    }

    .js-hamburger-header-button {
      visibility: visible;
      opacity: 1;
      display: flex;

      @include mobile{
        display: none;
      }
    }
  }

  .js-hamburger-header-button {
    display: none;
  }

  &__block {
    position: relative;
    z-index: 100;
  }

  &__top {
    background-color: #121110;

    &-block {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px 0;

      @include mobile {
        padding: 15px 10px;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      width: 100%;

      @include mobile {
        margin-left: auto;
      }
    }

    &-search {
      @include mobile {
        position: absolute;
        top: -150%;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      border-top: 1px solid #391d14;
      background: linear-gradient(90deg,
          #ff6c3d50 0%,
          rgba(14, 13, 12, 0) 20%,
          rgba(14, 13, 12, 0) 80%,
          #ff6c3d50 100%);
    }
  }

  &__bottom {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: visibility 0s linear 0ms, opacity 0ms ease, height 150ms ease,
      padding 150ms ease;
    padding: 10px 0;
    gap: 20px;
    background-color: #22211e;
    position: relative;

    @include mobile {
      padding: 10px;
    }

    &-block {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__logo {
    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 7px;

    @include mobile {
      margin: 0;
    }

    &-img {
      width: auto;
      height: 24px;
    }

    &-text {
      font-size: 22px;
      font-weight: 500;
      color: #ff6c3d;

      &--active {
        color: #c3b8a2;
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__catalog {
    width: auto;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    transition: 100ms;

    &:hover {

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #22211e;
      }

      .hamburger.is-active .hamburger-inner,
      .hamburger.is-active .hamburger-inner:after,
      .hamburger.is-active .hamburger-inner:before {
        background-color: #22211e;
      }
    }
  }

  &__search {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;

    @include mobile {
      width: auto;
      max-width: min-content;
      margin: 0;
    }

    &-mobile {
      display: none;
      width: 100%;
      max-width: 54px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px 15px;
      height: 50px;

      &-img {
        display: flex;
        width: 20px;
        height: 20px;
      }

      @include mobile {
        display: flex;
      }
    }
  }

  &__notification,
  &__basket {
    width: 100%;
    max-width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    height: 50px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    height: 50px;
  }

  &__menu {
    display: flex;
    gap: 8px;

    @include mobile {
      display: none;
    }

    &-item {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-family: $font-roboto;
      padding: 8px 12px;
      height: 50px;
      background: transparent;
      border-radius: 8px;
      border: 1px solid #37332a;
      transition: 200ms ease;
      overflow: hidden;

      &-text {
        display: flex;
        flex-direction: column;
        gap: 2px;
        line-height: 1;
        position: relative;
        z-index: 2;
      }

      &-title {
        font-size: 15px;
        font-weight: 500;
        color: #c3b8a2;
        transition: 200ms ease;

        @include netbook {
          font-size: 13px;
          line-height: 1;
        }

        @include mobile {
          font-size: 18px;
          line-height: 1.2;
        }
      }

      &-subtitle {
        font-size: 10px;
        font-weight: 300;
        color: #6d675b;

        @include netbook {
          display: none;
        }
      }

      &:hover,
      &.active {
        border-color: white;

        .new-header__menu-item-title {
          color: white;
        }

        &::after {
          background: $orange;
        }

        @include mobile {
          background: transparent;
          border-bottom-color: transparent;

          &::after {
            background: transparent;
          }
        }
      }
    }
  }

  &__basket {
    display: flex;
    margin-left: auto;

    @include mobile {
      margin: 0;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
    }

    &-text {
      padding-right: 10px;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    height: 50px;
    background-color: $orange;
    border-color: $orange;

    &:hover {
      border-color: #ebe2d0;
    }

    &:focus {
      border-color: $orange;
    }

    &.active {
      background: #ebe2d0;
      color: #22211e;
      border: 1px solid;

      svg path {
        fill: #22211e;
      }
    }

    &-icon svg {
      width: 18px;
      height: 18px;
    }

    &-arrow {
      margin-left: 40px;

      @include mobile {
        display: none;
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }

    &-text {
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.new-header-category {
  position: fixed;
  z-index: 99;
  top: 160px;

  &.position{
    top: 90px;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    background: #ebe2d0;
    border-radius: 10px;
    max-width: 900px;
    padding: 10px;
    color: #6d675b;
    display: flex;
    gap: 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      padding-top: 320px;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
  }

  &__main {
    &-category {
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-right: 1px solid #c4bcac;
      padding: 10px;

      @include mobile {
        max-width: 100%;
        border-right: none;
      }
    }

    &-buttons {
      display: flex;
      gap: 10px;
      flex-direction: column;
      position: relative;
    }

    &-btn {
      width: 100%;
      color: #6d675b;
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      padding: 10px;

      &-icon {
        border: 1px solid #6d675b;
        min-width: 45px;
        min-height: 45px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        svg {
          width: 22px;
          height: 22px;
        }
      }

      &-text {
        font-size: 16px;
      }

      &-arrow {
        margin-left: auto;
      }

      &:hover,
      &.active {
        background-color: #6d675b;
        color: #ebe2d0;

        .new-header-category__main-btn-icon {
          border-color: #ebe2d0;

          svg path {
            fill: #ebe2d0;
          }
        }

        .new-header-category__main-btn-text {
          color: #ebe2d0;
        }

        .new-header-category__main-btn-arrow svg path {
          fill: #ebe2d0;
        }
      }
    }
  }

  &__second {
    width: 100%;
    display: none;
    gap: 50px;
    padding: 20px;

    &.active {
      display: flex;
    }

    &-category {
      width: 100%;
      height: 400px;
      overflow-y: auto;

      @include mobile {
        position: absolute;
        right: -200%;
      }
    }

    &-menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-title {
      margin-bottom: 10px;
      font-weight: 600;
    }

    &-item {
      &:hover {
        color: black;
      }
    }
  }

  &__close {
    @include mobile {
      display: none;
    }

    &:hover {
      svg path {
        fill: $orange;
      }
    }
  }

  &__bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(16, 15, 14, 0.78);
    /* backdrop-filter: blur(24.850000381469727px); */
  }
}

.js-hamburger-menu {
  position: fixed;
  z-index: 5;
  left: 0;
  visibility: hidden;
  transition: 300ms ease;
  opacity: 0;
  width: 100%;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 300ms;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  &.is-active:hover,
  &:hover {
    // hover styles here
  }

  &.is-active {

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: #fff;
    }
  }

  .hamburger-box {
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;
  }

  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;

    &,
    &:after,
    &:before {
      position: absolute;
      width: 25px;
      height: 2px;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #fff;
    }

    &:after,
    &:before {
      display: block;
      content: "";
    }

    &:before {
      top: -7px;
    }

    &:after {
      bottom: -7px;
    }
  }

  &--boring {

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      transition-property: none;
    }

    &.is-active {
      .hamburger-inner {
        transform: rotate(45deg);
      }

      .hamburger-inner:before {
        top: 0;
        opacity: 0;
      }

      .hamburger-inner:after {
        bottom: 0;
        transform: rotate(-90deg);
      }
    }
  }
}