.catalog-page-main {
    overflow: hidden;
}

.catalog-page {
    margin-top: 10px;
    margin-bottom: 30px;

    &__block {
        display: grid;
        grid-template-columns: minmax(200px, 240px) minmax(800px, 990px);
        grid-template-rows: repeat(2, auto);
        align-items: start;
        gap: 20px;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__filter {
        width: 100%;
        grid-area: 2 / 1 / 3 / 2;
        border-radius: 10px;
    }

    &__cards {
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
    }

    &__header {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: 1 / 1 / 2 / 3;
        background-color: #22211E;
        border-radius: 10px;

        @include mobile {
            align-items: flex-start;
            flex-direction: column;
            gap: 6px;
            background-color: initial;
            padding: 0;
        }
    }
}

.catalog-cards {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;

    &__block {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 10px;

        @include netbook {
            grid-template-columns: repeat(4, 1fr);
            gap: 0;
        }

        @include mobile {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 735px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
            justify-content: center;
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(2, 210px);
            justify-content: space-between;
        }

        @media screen and (max-width: 470px) {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 1300px) {
            .new-card {
                transform: scale(0.9);
            }
        }

        @media screen and (max-width: 735px) {
            height: 340px;

            .new-card {
                transform: scale(0.85);
            }
        }

        @media screen and (max-width: 470px) {
            height: auto;

            .new-card {
                transform: scale(1);

                &__svg,
                &__discount,
                &__new,
                &__category {
                    display: none;
                }

                &__overlay {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: 125px 1fr;
                    gap: 15px;
                    border-radius: 16px;
                    border: 1px solid rgba(32, 25, 22, 0.00);
                    background: linear-gradient(180deg, rgba(32, 28, 26, 0.82) 0%, rgba(45, 40, 36, 0.82) 100%);
                    backdrop-filter: blur(11.300000190734863px);
                    padding: 6px;
                }

                &__content {
                    border: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                &__img {
                    border: none;

                    &_item {
                        width: 125px;
                        height: 100px;
                        border-radius: 5px;
                        border: 1px solid #847F7D;
                    }
                }
            }
        }
    }

    &__more {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        position: relative;
        margin-top: 30px;

        @include mobile {
            margin-bottom: 25px;


            .more-btn {
                width: 100%;
                text-align: center;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;

        @include mobile {
            width: 100%;
        }
    }
}

.catalog-list {
    padding-bottom: 45px;
    margin-top: 45px;

    @include mobile {
        padding-bottom: 30px;
        margin-top: 30px;
    }
}

.catalog-filter {

    &__info {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding-bottom: 25px;

        @include netbook {
            grid-template-rows: repeat(2, 1fr);
        }


        @include mobile {
            display: flex;
            flex-direction: column;
        }

        &_title {
            display: flex;
            gap: 10px;
            align-items: center;
            color: $text-dark;

            @include netbook {
                background-color: #22211E;
                border-radius: 10px;
                padding: 15px 12px;
                width: 100%;
            }

            &_name {
                &:hover {
                    color: $orange;
                }
            }

            &_arrow {
                width: 12px;
                display: flex;

                img {
                    filter: invert(48%) sepia(97%) saturate(1261%) hue-rotate(334deg) brightness(100%) contrast(102%);
                }
            }

            &_active {}
        }

        &_search {
            grid-column-start: 2;
            grid-column-end: 4;

            @include netbook {
                grid-row-start: 2;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 8;
            }
        }

        &_sort {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: flex-end;

            @include netbook {
                grid-column-start: 3;
                grid-column-end: 8;
                gap: 25px;

                background-color: #22211E;
                border-radius: 10px;
                padding: 20px 15px;
                width: 100%;
            }

            @include mobile {
                flex-direction: column;
                align-items: initial;
            }
        }

        &_choose {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        &_select {
            display: flex;
            align-items: center;
            gap: 18px;
            width: 100%;
            max-width: 280px;

            &_text {
                font-size: 12px;
                color: $text-dark;
                transition: 200ms ease-in-out;
            }

            &:hover {
                .catalog-filter__info_select_text {
                    color: white;
                }
            }

        }
    }

    &__values {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding-top: 15px;
        padding-bottom: 15px;

        @include netbook {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__value {
        &_title {
            font-size: 10px;
            font-family: $font-inter;
            color: $text-dark;
            margin-bottom: 2px;
        }

        &_block {
            display: flex;
            justify-content: space-between;
            gap: 4px;
        }

        &_item {
            width: 100%;
            position: relative;

            input {
                border-radius: 4px;
                padding: 10px 10px 10px 30px;
                font-size: 10px;
                background-color: #2D2C29;
                border: none;
                font-size: 14px;
                color: #EBE2D0;
                font-weight: 500;

                &:hover {
                    background-color: #353330;
                    border: none;
                }
            }

            span {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 14px;
            }
        }
    }
}

.catalog-preorder {
    padding-bottom: 60px;
}

.filter-block {
    border-radius: 10px;
    background-color: #22211E;

    &__button {
        width: 100%;
        padding: 0;
    }

    &__content {
        display: none;

        &.active {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 65%;
            overflow-y: scroll;

            background-color: #22211E;
            border-radius: 10px 10px 0 0;
            border-top: 1px solid #ff6c3d;
            padding: 20px 20px 120px;
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 600;
            color: #EBE2D0;
            z-index: 1000;
        }
    }

    &__card {
        padding: 15px 20px;
        width: 100%;

        @include mobile{
            background-color: #22211E;
        }

        &_content {
            margin-top: 16px;
            display: none;
            flex-direction: column;
            gap: 8px;

            &.active {
                display: flex;
            }
        }

        &_more {
            color: #7C8088;
            border: 1px solid #37332A;
            border-radius: 5px;
            background-color: transparent;
            padding: 8px 10px;
            text-align: center;
            width: 100%;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 10px;

            &:hover {
                background-color: #353330;
                color: #EBE2D0;
            }

            &:focus {
                border: 1px solid #37332A;
            }
        }
    }

    &__heading {
        background-color: #353330;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 600;
        color: #EBE2D0;

        &_text {
            margin-left: 6px;
        }

        &_svg-2 {
            margin-left: auto;
        }
    }

    &__search {
        width: 100%;
        padding: 15px 20px;
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #EBE2D0;
        width: 100%;
        padding: 0;

        &_icon {
            &::after {
                content: "+";
                line-height: 1;
                color: #83878F;
                font-size: 20px;
                font-weight: 600;
            }
        }

        &.active &_icon {
            &::after {
                content: "-";
            }
        }

    }

}