.new-steam {
  padding: 8px;
  background-color: #191816;
  border-radius: 24px;
  margin-bottom: 15px;
  margin-top: 20px;

  &__block {
    display: grid;
    grid-template-columns: minmax(320px, 500px) 1fr;
    gap: 8px;

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__heading {
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__cards {
    display: grid;
    grid-template-columns: minmax(320px, 500px) minmax(500px, 790px);
    gap: 8px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background: #22211e;
    padding: 20px;
    position: relative;
    font-family: $font-roboto;
    transition: 300ms ease;

    &:hover {
      background: #2c2b27;
    }

    &_heading {
    }
    &_img {
    }

    &_icon {
      height: 34px;
      margin-bottom: 20px;

      &--partner {
        height: 110px;
        width: auto;
        margin: 0;
        margin-top: 20px;
      }
    }

    &_title {
      font-size: 24px;
      color: #c3b8a2;
      font-weight: 500;
      line-height: 1.2;
    }

    &_subtitle {
      font-size: 16px;
      color: #c3b8a2;
    }

    &--steam {
      text-align: center;
    }

    &--discount {
      text-align: center;
      background: rgb(67, 53, 47);
      background: linear-gradient(
        45deg,
        rgba(67, 53, 47, 1) 0%,
        rgba(49, 45, 42, 1) 20%,
        rgba(49, 45, 42, 1) 80%,
        rgba(67, 53, 47, 1) 100%
      );
      transition: 300ms ease;

      &:hover {
        background: rgb(54, 38, 30);
        background: linear-gradient(
          45deg,
          rgba(54, 38, 30, 1) 0%,
          rgba(32, 26, 22, 1) 20%,
          rgba(32, 26, 22, 1) 80%,
          rgba(54, 38, 30, 1) 100%
        );
      }
    }

    &--partner {
      grid-column-start: 1;
      grid-column-end: 3;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
    }
  }

  &__block {
  }
}

.new-refill-services {
  padding: 25px;
  background-color: #191816;
  border-radius: 24px;
  margin-bottom: 40px;
  margin-top: 15px;

  &__block {
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    max-width: 170px;
    display: flex;

    &_img {
      height: 100px;
      object-fit: contain;
    }
  }
  &__content {
    margin-top: 30px;
  }

  .swiper-slide {
    display: flex;
    max-width: 170px;
  }
}
