.new-search-block {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  @include mobile {
    position: absolute;
    top: -150%;
  }

  &__img {
    width: 16px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 20px;
    height: 50px;
    border: none;
    border: 1px solid transparent;
    font-family: $font-roboto;

    &:hover {
      background: #2c2b27;
      border: 1px solid transparent;
    }

    &:focus {
      background: #2c2b27;
      border: 1px solid transparent;
    }

    &:focus-visible {
      border: 1px solid transparent;
    }

    &::placeholder {
      color: white;
    }

    &--bordered {
      border: 1px solid #37332a;
    }

    &--normal {
      background: #22211e;
    }
  }
}

.new-btn {
  border-radius: 8px;

  color: #ebe2d0;
  font-size: 13px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 300ms ease;
  font-family: $font-roboto;
  border: 1px solid #37332a;

  &:hover {
    background: #ebe2d0;
    color: #22211e;
    border: 1px solid;

    svg path {
      fill: #22211e;
    }
  }

  &:focus {
    border: 1px solid #37332a;
  }

  &:focus-visible {
    border: 1px solid #37332a;
  }

  &--white {
    background: #ebe2d0;
    color: #22211e;
  }

  &--normal {
    padding: 10px 30px;
    height: 50px;
    background: #22211e;
  }

  &--bordered {
    background-color: transparent;
    border: 1px solid #37332a;
    color: white;

    &:focus {
      border: 1px solid #37332a;
    }

    &:focus-visible {
      border: 1px solid #37332a;
    }
  }

  &--orange {
    border: 1px solid #ff6c3d;
    background-color: #ff6c3d;
    color: white;
  }
}
