.admin-head {
    margin-top: 40px;
    margin-bottom: 40px;

    &__block {
        display: flex;
        gap: 20px;
    }

    &__account {
        width: 50%;
        max-width: 298px;
        border-radius: 10px;
        background: #231E1B;
        box-shadow: 0px 4px 32.8px 0px rgba(0, 0, 0, 0.25);
    }

    &__info {
        width: 100%;
        max-width: 932px;
        padding: 6px;
        border-radius: 10px;
        border-bottom: 1px solid #2C2C2A;
        background: #161513;
    }

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        padding: 20px 25px;
    }

    &__img {
        width: 138px;
        height: 138px;
        position: relative;
        display: flex;
        margin-bottom: 25px;

        &_item {
            width: 136px;
            height: 136px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid $orange;
            border-radius: 50%;
        }

        &_role {
            width: 60px;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__name {
        text-align: center;
        font-size: 20px;
        color: white;
    }

    &__support {
        margin-top: 12px;
    }

    &__leave {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    &__settings {
        position: absolute;
        top: 55px;
        left: 10px;
    }

    &__balance {
        border-bottom: 1px solid var(--main, #FF7347);
        background: #191917;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 10px 25px;

        &_title {
            line-height: 1;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &_text {
            font-size: 14px;
            color: $text-dark;
        }

        &_num {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        &_btn {}
    }

    &__roles {
        padding: 20px 25px;
        display: grid;
        gap: 10px 20px;
        grid-template-columns: repeat(6, 1fr);

        &_item {
            height: 25px;
        }
    }

    &__allroles {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 25px 25px;

        .btn-admin {
            width: 100%;
        }
    }


    &__wall {
        display: flex;
        width: 100%;

        &_item {
            width: 100%;
            height: 117px;
            object-fit: cover;
            border-radius: 6px;
        }
    }

    &__table {
        margin-top: 18px;
    }

    &__ref {
        border-radius: 6px;
        border: 1px solid #304B36;
        background: #22211E;
        padding: 15px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_block {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
        }

        &_title {
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 15px;
        }

        &_static {
            display: flex;
            align-items: center;
            gap: 12px;

            &_block {
                display: flex;
                align-items: flex-end;
                gap: 4px;
            }

            &_name {
                font-size: 16px;
                color: $text-dark;
            }

            &_text {
                font-size: 16px;
                color: white;
                font-weight: 600;
            }
        }

        &_info {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background: #2E2D2B;
            padding: 5px;
            margin-left: auto;
        }

        &_link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px 7px 7px 20px;
            line-height: 1;
            border-radius: 6px;
            border: 1px solid #304B36;
            background: linear-gradient(90deg, rgba(35, 56, 46, 0.00) 0%, #294424 100%);
        }

        &_text {
            color: #A6EB71;
            font-weight: 600;
        }

        &_actions{
            display: flex;
            gap: 5px;
        }

        &_edit,
        &_copy {
            border-radius: 3px;
            background: #3B6236;
            padding: 5px;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }


    }




}


.admin-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        border-radius: 3px;
        border: 1px solid #34312D;
        background: #1C1B19;
        padding: 5px 10px;
        line-height: 1;

        &:nth-child(4n+2),
        &:nth-child(4n+3) {
            background: #22211E;
        }
    }

    &__head {
        color: $text-dark;
    }

    &__cell {
        .comment-item__like_btn {
            font-size: 16px;
        }
    }
}