.admin-head {
    margin-top: 40px;
    margin-bottom: 40px;

    &__block {
        display: grid;
        gap: 20px;
        grid-template-columns: minmax(275px, 298px) minmax(400px, 932px);

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__account {
        overflow: hidden;
        border-radius: 10px;
        background: #231E1B;
        box-shadow: 0px 4px 32.8px 0px rgba(0, 0, 0, 0.25);
    }

    &__info {
        padding: 6px 6px 0 6px;
        border-radius: 10px;
        border-bottom: 1px solid #2C2C2A;
        background: #161513;
    }

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        padding: 20px 25px;
    }

    &__img {
        width: 138px;
        height: 138px;
        position: relative;
        display: flex;
        margin-bottom: 25px;

        &_item {
            width: 136px;
            height: 136px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid $orange;
            border-radius: 50%;
        }

        &_role {
            width: 60px;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__name {
        text-align: center;
        font-size: 20px;
        color: white;
    }

    &__support {
        margin-top: 12px;
    }

    &__leave {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    &__settings {
        position: absolute;
        top: 55px;
        left: 10px;
    }

    &__balance {
        border-bottom: 1px solid var(--main, #FF7347);
        background: #191917;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 10px 25px;

        &_title {
            line-height: 1;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &_text {
            font-size: 14px;
            color: $text-dark;
        }

        &_num {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        &_btn {}
    }

    &__roles {
        padding: 20px 25px;
        display: grid;
        gap: 10px 20px;
        grid-template-columns: repeat(6, 1fr);

        @include netbook {
            display: flex;
            overflow-x: auto;
            margin-bottom: 10px;

            &::-webkit-scrollbar {
                width: 1px;
                height: 1px;
            }

            &::-webkit-scrollbar-track {
                background: $dark;
            }

            &::-webkit-scrollbar-thumb {
                background: $orange;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $orange;
            }
        }

        &_item {
            height: 25px;
        }
    }

    &__allroles {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 25px 15px;

        .btn-admin {
            width: 100%;
        }
    }

    &__wall {
        display: flex;
        width: 100%;

        &_item {
            width: 100%;
            height: 117px;
            object-fit: cover;
            border-radius: 6px;
        }
    }

    &__table {
        margin-top: 15px;
    }

    &__ref {
        border-radius: 6px;
        border: 1px solid #304B36;
        background: #22211E;
        padding: 12px 12px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;

        &_block {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;

            @include mobile {
                gap: 10px;
                padding-right: 40px;
            }
        }

        &_title {
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 15px;
        }

        &_static {
            display: flex;
            align-items: center;
            gap: 12px;

            &_block {
                display: flex;
                align-items: flex-end;
                gap: 4px;
            }

            &_name {
                font-size: 16px;
                color: $text-dark;
            }

            &_text {
                font-size: 16px;
                color: white;
                font-weight: 600;
            }
        }

        &_info {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background: #2E2D2B;
            padding: 5px;
            margin-left: auto;

            position: absolute;
            top: 10px;
            right: 12px;
        }

        &_link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px 7px 7px 20px;
            line-height: 1.2;
            border-radius: 6px;
            border: 1px solid #304B36;
            background: linear-gradient(90deg, rgba(35, 56, 46, 0.00) 0%, #294424 100%);
        }

        &_text {
            color: #A6EB71;
            font-weight: 600;
            word-break: break-word;
            padding-right: 10px;
        }

        &_actions {
            display: flex;
            gap: 5px;
        }

        &_edit,
        &_copy {
            border-radius: 3px;
            background: #3B6236;
            padding: 5px;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
    }

    &__trofei {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;

        &_title {
            text-align: center;
            color: $text-dark;
        }

        &_block {
            display: flex;
            justify-content: space-between;
            gap: 0px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                width: 1px;
                height: 1px;
            }

            &::-webkit-scrollbar-track {
                background: $dark;
            }

            &::-webkit-scrollbar-thumb {
                background: $orange;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $orange;
            }

            @include netbook {}
        }

        &_item {
            min-width: 125px;
            padding-top: 9px;
            padding-bottom: 10px;
            border-radius: 5px 5px 0 0;
            transition: 300ms ease;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid $orange;
                background: #242322;

                .admin-head__trofei_text {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &_img {
            display: flex;
            margin-bottom: 10px;

            &_item {
                height: 60px;
                object-fit: contain;
            }
        }

        &_text {
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 1;
            gap: 5px;
            visibility: hidden;
            opacity: 0;

            &._like {
                font-size: 10px;
                color: $orange;
            }

            &._count {
                font-size: 13px;
                color: white;
            }
        }
    }

    &__wallet {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;
        margin-top: 12px;
        margin-bottom: 28px;

        @include netbook {
            grid-template-columns: 1fr;
        }

        &_actions {
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            @include netbook {
                justify-content: space-between;
            }

            @include mobile {
                flex-direction: column;
            }
        }

        &_num {
            display: flex;
            font-size: 38px;
            font-family: $font-roboto;
            font-weight: 600;
            align-items: center;
            gap: 12px;
            line-height: 1;

            &_svg {
                height: 34px;
            }

            @include mobile {
                text-align: center;
                justify-content: center;
            }
        }

        &_btn {
            border-radius: 3px;
            border: 1px solid #33302D;
            background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);
            font-size: 20px;
            color: $text-dark;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 12px 35px;
            transition: 300ms ease;

            &:hover {
                color: white;
                border-color: $orange;

                svg path {
                    fill: $orange;
                }
            }

            @include netbook {
                width: 100%;
            }
        }

        &_info {
            border-radius: 6px;
            overflow: hidden;
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            position: relative;
            border: 1px solid transparent;
            background: linear-gradient(1800deg, #4B3530, #FF7347) padding-box, linear-gradient(to left, #4B3530,
                    #FF7347) border-box;


            @include netbook {
                grid-column-start: initial;
                grid-column-end: initial;
            }

            &_block {
                background: #1E1817;
                padding: 18px 22px;
                line-height: 1;
            }

            &_text {
                position: relative;
                z-index: 1;
                font-size: 20px;
                font-weight: 600;
                font-family: $font-roboto;

                ._orange {
                    color: $orange;
                }
            }

            &_bg {
                position: absolute;
                height: 44px;
                width: auto;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }

            .admin-head__ref_info {
                z-index: 1;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

}

.admin-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;

    @include netbook {
        grid-template-columns: 1fr;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        border-radius: 3px;
        border: 1px solid #34312D;
        background: #1C1B19;
        padding: 5px 10px;
        line-height: 1;

        &:nth-child(4n+2),
        &:nth-child(4n+3) {
            background: #22211E;
        }

        &._row-2 {
            grid-column-start: 1;
            grid-column-end: 3;

            @include netbook {
                grid-column-start: initial;
                grid-column-end: initial;
            }
        }
    }

    &__head {
        color: $text-dark;
    }

    &__cell {
        .comment-item__like_btn {
            font-size: 16px;
        }
    }
}

.admin-content-table {
    position: relative;
    line-height: 1.2;

    &__head {
        padding: 10px 15px;
        margin-bottom: 6px;
        /* position: sticky;
        top: 64px; */
        border-radius: 3px 3px 0px 0px;
        border: 1px solid var(--text-Dark, #847F7D);
        background: #1C1B19;
        display: grid;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        grid-template-columns: minmax(100px, 150px) minmax(100px, 200px) minmax(100px, 250px) minmax(100px, 350px) minmax(100px, 150px);

        @include mobile {
            font-size: 14px;
            gap: 5px;
            padding: 10px 5px;
            grid-template-columns: minmax(20px, 44px) minmax(40px, 80px) repeat(3, 1fr);
        }
    }

    &__content {}

    &__row {
        padding: 10px 15px;
        margin-bottom: 2px;
        border-radius: 3px;
        border: 1px solid #34312D;
        background: #22211E;
        color: $text-dark;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: minmax(100px, 150px) minmax(100px, 200px) minmax(100px, 250px) minmax(100px, 350px) minmax(100px, 150px);

        &:nth-child(odd) {
            background: #1C1B19;
        }

        @include mobile {
            font-size: 14px;
            gap: 5px;
            padding: 10px 5px;
            grid-template-columns: minmax(20px, 44px) minmax(40px, 80px) repeat(3, 1fr);
        }
    }

    &__cell {
        word-break: break-word;

        &._complited {
            color: #57B055;
        }

        &._timeout {
            color: #5288D9;
        }

        &._na {
            color: $text-dark;
        }

        &._add {
            color: #57B055;
        }

        &._confirm {
            color: #A0FFB5;
        }

        &._cancel {
            color: #D95252;
        }
    }
}

.admin-tabs {
    margin: 40px 0;

    &__block {
        padding: 0 50px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 10px;
        border-bottom: 1px solid #2C2C2A;
        background: #161513;

        @include laptop {
            padding: 0 10px;
        }
    }

    &__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 18px 25px;
        border-bottom: 1px solid transparent;

        &_icon {
            svg {
                height: 34px;
            }
        }

        &_text {
            color: $text-dark;
            transition: 300ms ease;
        }

        &:hover,
        &._active {
            border-bottom: 1px solid $orange;
            background: linear-gradient(270deg, rgba(79, 79, 79, 0.35) 0%, rgba(72, 60, 54, 0.35) 31.28%, rgba(70, 66, 63, 0.35) 48.78%, rgba(72, 60, 54, 0.35) 70.71%, rgba(79, 79, 79, 0.35) 100%);

            .admin-tabs__tab_text {
                color: white;
            }

            svg path {
                fill: $orange;
            }
        }
    }
}

.admin-content {
    margin: 20px 0 40px;

    &__block {
        padding: 20px 30px;
        border-radius: 10px;
        border-bottom: 1px solid #2C2C2A;
        background: #161513;

        @include mobile {
            padding: 15px;
        }
    }

    &__btn_title {
        width: max-content;
        margin-bottom: 15px;
        border-radius: 5px;
        background: #2E2D2B;
        color: $text-dark;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__title {
        font-size: 16px;
        color: $text-dark;

        &._center {
            text-align: center;
        }
    }

    .catalog-cards__pagination {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.admin-comments,
.admin-reviews {
    display: flex;
    flex-direction: column;
}

.admin-reviews {
    margin-top: 40px;
}

.admin-card {
    display: grid;
    grid-template-columns: 112px 1fr;
    gap: 5px 26px;
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid #262624;

    @include mobile {
        gap: 10px 26px;
    }

    &__img {
        display: flex;
        grid-row-start: 1;
        grid-row-end: 3;
        margin-top: 5px;

        @include mobile {
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &_item {
            width: 112px;
            height: 121px;
            border-radius: 5px;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        color: $text-dark;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__actions {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;

        @include mobile {
            grid-column-start: 1;
            flex-wrap: wrap;
            gap: 5px;
        }
    }

    &__date {
        position: absolute;
        top: 12px;
        right: 0;
        font-size: 16px;
        color: $text-dark;

        @include mobile {
            width: 100%;
            position: inherit;
        }
    }

    &__link {
        font-size: 14px;
        color: $text-dark;
    }
}

.admin-trofei {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &_text {
            color: $text-dark;
        }

        @include mobile {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__statics {
        display: flex;
        align-items: center;
        gap: 12px;

        &_img {
            width: auto;
            height: 24px;
        }

        &_progress {
            position: relative;
            width: 190px;
            height: 29px;
            display: flex;
            align-items: center;
            border-radius: 25px;
            padding: 3px;
            border: 2px solid #33302D;
            background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);

            &_bg {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid #222220;
                border-radius: 25px;
                background: rgba(134, 177, 113, 0.28);
            }

            &_count {
                display: flex;
                align-items: center;
                gap: 2px;
                border-radius: 25px;
                background: #2E2D2B;
                position: relative;
                z-index: 2;
                font-size: 10px;
                padding: 2px 6px;
                height: 19px;

                ._current {
                    color: #86B171;
                }

                ._divide {
                    color: white;
                }

                ._all {
                    color: $text-dark;
                }
            }

            &_color {
                position: absolute;
                left: 0;
                top: 0;
                width: auto;
                max-width: calc(100% - 2px);
                height: calc(100% - 2px);
                margin: 1px;
                border-radius: 25px;
                background: #86B171;
            }
        }
    }

    &__done,
    &__doing {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        @include netbook {
            grid-template-columns: 1fr;
            gap: 7px;
        }
    }

    &__doing {
        margin-top: 40px;
    }
}

.done-card {
    border-radius: 6px;
    border: 1px solid transparent;
    background: linear-gradient(90deg,
            #304B36,
            #86B171) padding-box, linear-gradient(to left, #304B36,
            #86B171) border-box;
    overflow: hidden;

    &__block {
        display: flex;
        align-items: center;
        gap: 25px;
        background: #22211E;
        padding: 12px 20px;
        position: relative;
        z-index: 2;

        @include netbook {
            gap: 15px;
        }
    }

    &__img {
        display: flex;
        height: 47px;
        min-width: 40px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 5px;
        line-height: 1;

        ._main {
            font-size: 20px;
            font-weight: 600;
        }

        ._second {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__info {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 12px;

        &_svg {
            width: auto;
            height: 29px;
        }

        &_users {
            border-radius: 25px;
            overflow: hidden;
            border: 1px solid transparent;
            background: linear-gradient(90deg,
                    #304B36,
                    #86B171) padding-box, linear-gradient(to right, #304B36,
                    #86B171) border-box;
            display: flex;
            align-items: center;

            @include mobile {
                display: none;
            }

            ._content {
                background: #22211E;
                width: 100%;
                height: 100%;
                padding: 9px 20px;
                font-size: 12px;
                line-height: 1;
            }
        }
    }
}

.doing-card {
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    border: 1px solid #353535;
    background: #22211E;

    &__progress {
        position: absolute;
        top: 2px;
        left: 2px;
        width: auto;
        max-width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 6px;
        background: #1F3124;
    }

    &__percent {
        font-weight: 700;
        font-size: 16px;
        color: white;
    }

    .done-card__title {
        color: $text-dark;
    }

    .done-card__block {
        background-color: transparent;
    }

    .done-card__info_users {
        border: 1px solid #353535;
        color: $text-dark;
    }
}