.catalog-slider {
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 40px;

    &__title {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        gap: 6px;
        margin-bottom: 40px;

        &_main {
            display: flex;
            align-items: center;
            gap: 30px;

            &_text {
                font-size: 24px;
                font-weight: 300;
                font-family: $font-roboto;
            }

            &_icon {
                width: 18px;
                filter: invert(48%) sepia(97%) saturate(1261%) hue-rotate(334deg) brightness(100%) contrast(102%);
            }
        }

        &_secondary {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            &_text {
                width: 50%;
                min-width: 155px;
                font-size: 14px;
                color: $text-dark;
            }

            &_icon {
                width: 50%;
                max-width: 155px;
                height: 1px;
                background-color: $text-dark;
                position: relative;

                &::before {
                    content: "";
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background-color: $text-dark;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $text-dark;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &__block {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    &__best {
        width: 100%;
        position: relative;

        &_block {
            display: flex;
            align-items: flex-end;
            gap: 11px;
        }

        &_link {
            display: flex;
            width: 100%;
            height: 429px;
        }

        &_img {
            width: 100%;
            border-radius: 20px;
            border-left: 2px solid #1E1C1A;
            object-fit: cover;
        }

        &_arrows {
            display: flex;
            flex-direction: column;
        }

        .swiper-pagination {
            width: 100%;
            bottom: 0px;
            height: 20px;
            padding-left: 61px;
            position: relative;

            align-items: flex-end;
            display: flex;
            justify-content: center;
        }

        .swiper-slide {
            display: flex;
            width: 100% !important;
        }
    }

    &__discount {
        width: 100%;
        position: relative;

        &_cards {
            display: grid;
            gap: 20px;
            height: 452px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &__sold {
        width: 100%;
        position: relative;

        &_slider {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 100%;

            .swiper {
                height: 452px;
            }


            .swiper-slide {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }


        }

        &_swiper {}

        &_actions {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            width: 33px;

            &::before {
                content: "";
                width: 1px;
                height: 80px;
                background-color: $orange;
                position: absolute;
                top: 18%;
                left: 50%;
                transform: translateX(-50%);
            }

            &::after {
                content: "";
                width: 1px;
                height: 80px;
                background-color: $orange;
                position: absolute;
                bottom: 18%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &_link {
            display: flex;
            border-radius: 20px;
            overflow: hidden;
        }

        &_img {
            object-fit: cover;
        }

        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            bottom: inherit;
            display: flex;
            align-items: center;
            gap: 8px;
            width: auto;
            font-size: 14px;
            font-weight: 400;
            color: $text-dark;
        }

        .swiper-pagination-current {
            color: white;
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 33px;
            height: 55px;
            border: 1px solid $orange;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-arrow__left,
        .swiper-arrow__right {
            transform-origin: center;
            position: static;
        }

        .swiper-arrow__left {
            transform: rotate(-90deg);
        }

        .swiper-arrow__right {
            transform: rotate(90deg);
        }
    }
}

.catalog-list {
    padding-bottom: 100px;
}