.home-slider {
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
    background: rgb(28, 27, 25);

    &__block {
        margin-top: 35px;
        display: flex;
        gap: 18px;
    }

    &__info {
        width: 100%;
        max-width: 510px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        gap: 20px;
        box-sizing: border-box;
        border: 1px solid rgb(46, 44, 41);
        height: 110px;
        overflow: hidden;
        padding: 1px;



        &_img {
            width: 100%;
            max-width: 192px;
            overflow: hidden;

            &_item {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 7px;
            padding: 5px 5px 5px 0px;
        }

        &_subtitle {
            font-size: 14px;
            color: $text-dark;
            line-height: 1;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_title {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.1;

            color: white;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: $orange;
            }
        }

        &_btn {}

        &._selected {
            box-sizing: border-box;
            border: 1px solid rgb(61, 162, 255);
        }

        &._bordered-start {
            border-radius: 13px 13px 0 0;

            .home-slider__card_img {
                border-radius: 13px 0 0 0;
            }
        }

        &._bordered-end {
            border-radius: 0 0 13px 13px;

            .home-slider__card_img {
                border-radius: 0 0 0 13px;
            }
        }

    }
}

.home-swiper {
    &-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        height: 456px;
    }

    &-main {
        width: 100%;
        max-width: 720px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        &__img {
            height: 100%;
            object-fit: cover;
        }

        &__arrows {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 452px;
            height: 111px;
            bottom: 0;
            left: 0;
            z-index: 2;
        }

        &__block {
            text-align: center;
            width: 100%;
            max-width: 452px;
            height: 111px;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0px 15px 0px 10px;
            backdrop-filter: blur(11.2px);
            background: rgba(57, 52, 49, 0.75);
        }

        &__title {
            font-size: 24px;
            font-weight: 300;
            padding: 0px 65px;
            margin-top: 6px;
            line-height: 1.1;
            height: 54px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }

        &__subtitle {
            font-size: 14px;
            padding: 0px 65px;
            color: $text-dark;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__arrow {

            &_left,
            &_right {
                width: 18px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transform-origin: left top;

                &_bg {
                    width: 50px;
                    filter: invert(48%) sepia(97%) saturate(1261%) hue-rotate(334deg) brightness(100%) contrast(102%);
                }
            }

            &_left {
                transform: rotate(180deg) translate(-50%, -50%);

                &_bg {
                    transform: rotate(180deg);
                }
            }
        }


    }
}

.game-slider {
    padding-top: 30px;
    padding-bottom: 30px;

    &__block {
        width: 100%;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 30px;
    }

    &__arrows {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        .swiper-button-next,
        .swiper-button-prev {
            position: initial;
            color: $text-dark;
            border: 1px solid;
            border-radius: 4px;
            width: 50px;
            height: 36px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 300ms ease;

            &:hover {
                color: white;
            }
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 30px;
            position: relative;
            top: -2px;
        }

        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: "\2192";
            font-family: 'Courier New', Courier, monospace;
        }

        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: "\2190";
            font-family: 'Courier New', Courier, monospace;
        }
    }
}

.home-statics {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(26, 25, 23);

    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
        color: $text-dark;
    }

    .swiper-slide-active {
        z-index: 2;

        .statics-card {
            background: linear-gradient(175.53deg,
                    rgb(52, 45, 39) 0%,
                    rgb(34, 34, 32) 67.445%) padding-box,
                linear-gradient(to top, #61492E 14%, #FF6C3D) border-box;
            border: 1px solid transparent;
            transform: scale(1.28);
        }

        .statics-card__number,
        .statics-card__text {
            color: white;
        }
    }

    .swiper {
        overflow: visible;
    }
}

.home-markets {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(26, 25, 23);
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: flex;
        width: 250px;
        height: 60px;
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        filter: blur(70px);
        background: rgb(255, 108, 61);
        border-radius: 50%;
    }


    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
        color: $text-dark;
    }

    &__slide {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: auto;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;

        &_item {
            height: 52px;
            filter: grayscale(1) brightness(0.5);
        }
    }

    &__link {
        display: none;
    }

    .swiper-slide-active {
        .home-markets__link {
            display: flex;
        }

        .home-markets__img_item {
            filter: none;
        }
    }

    .swiper {
        overflow: visible;
    }
}

.pre-order-actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;

    &__img {
        width: 60%;
        border-radius: 15px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
    }

    &__subtitle {
        color: $orange;
    }

    &__list {
        color: $text-dark;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;

        &_num {
            border: 1px solid $text-dark;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: white;
            border-radius: 2px;
        }

        &_text {}

        a {
            color: #83A5FF;
            border-bottom: 1px dashed;
        }
    }

}

.home-blog {
    background: rgb(26, 25, 23);
    padding-top: 40px;
    padding-bottom: 40px;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        margin-bottom: 30px;
    }

    &__title {
        font-family: $font-roboto;

        &_main {
            font-size: 20px;
            font-weight: 700;

            & ._orange {
                color: $orange;
            }
        }

        &_secondary {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__btn {}

    .swiper {
        overflow: visible;
    }

}

.home-blog-card {
    border: 1px solid #33302D;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 70.6px 0px rgba(0, 0, 0, 0.25);

    &__block {
        padding: 12px;
        position: relative;
        display: flex;
        gap: 12px;
    }

    &__img {
        height: 320px;
        border-radius: 15px;

        &_bg {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            filter: contrast(1) opacity(0.1) brightness(0.3) grayscale(1);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 13px;
        color: $text-dark;
        padding-right: 20px;
    }

    &__date {
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &_label {
            color: $text-white;
        }
    }

    &__title {
        color: $text-white;
        font-size: 24px;
        line-height: 1.2;
    }

    &__text {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__link {
        color: $orange;
        font-size: 15px;
        font-weight: 400;
    }

    &__timer {
        display: flex;
        align-items: center;
        font-size: 10px;
        gap: 6px;

        &_icon {
            width: 12px;
            height: 12px;
        }
    }
}

.home-reviews {
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
        text-align: center;
        font-size: 20px;
        color: $text-dark;
        margin-bottom: 25px;

        &._secondary {
            margin-top: 80px;
        }
    }

    &__slide {
        width: 100%;
        max-width: 294px;
    }

    .swiper {
        overflow: visible;
    }
}

.home-reviews-card {
    display: flex;
    gap: 14px;

    &__name {
        width: 100%;
        max-width: 58px;
        height: 76px;
        border-radius: 5px;
        border: 1px solid $text-dark;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-roboto;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        color: white;
    }

    &__date {
        color: $text-dark;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 8px;

        &_label {
            display: flex;
            width: 27px;
            height: 11px;
            border-radius: 25px;

            &._green {
                background-color: #62CC66;
            }
        }
    }

    &__text {
        color: $text-dark;
        font-size: 14px;
    }

    .read-smore__link {
        color: $orange;
        font-size: 14px;
    }
}

.home-other-reviews {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__card {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 25px;
        border-radius: 12.58px;
        background: linear-gradient(175.53deg, rgb(52, 45, 39) 0%, rgb(34, 34, 32) 65.877%);
        padding: 15px 20px;

        &_img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        &_content {
            display: flex;
            flex-direction: column;
            line-height: 1;
            gap: 4px;
        }

        &_title {
            font-size: 20px;
            color: white;
        }

        &_subtitle {
            font-size: 16px;
            color: $text-dark;
        }
    }
}

