.steam-gifts-slider {
    margin-top: 20px;
    margin-bottom: 40px;


    &__block {
        display: flex;
        gap: 18px;

        @include netbook {
            flex-direction: column;
        }
    }

    .steam-gifts-top {
        width: 70%;
        height: 430px;

        @include netbook {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }

        &__slide {
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            height: 430px;

            &_bg {
                position: relative;
                width: 100%;
                height: 430px;
            }

            &_content {
                padding: 20px;
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @include mobile {
                    padding: 15px 15px 30px;
                }
            }

            &_img {
                position: relative;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &_over {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(201deg, rgba(0, 0, 0, 0.00) 17.46%, rgba(22, 21, 19, 0.92) 68.68%);
            }

            &_title {
                font-size: 20px;
                color: #C3B8A2;
                font-weight: 500;
                margin-bottom: 15px;
            }

            &_text {
                font-size: 14px;
                color: #9A9A9A;
                margin-bottom: 18px;
            }


        }

        .swiper-pagination {
            display: none;

            @include mobile {
                display: flex;
                justify-content: center;
                bottom: 10px;
            }
        }
    }

    .steam-gifts-bottom {
        width: 30%;
        height: 430px;
        flex-direction: column;

        @include netbook {
            width: 100%;
            height: 210px;

            .swiper-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }

            .swiper-slide {
                width: 100% !important;
            }
        }

        @include mobile {
            display: none;
        }

        &__slide {
            border-radius: 10px;
            border: 1px solid #36332D;
            overflow: hidden;
            height: 100%;
            position: relative;
            transition: 300ms ease;

            &:hover {
                border-color: $orange;
                cursor: pointer;
            }

            &_bg {
                display: flex;

                &_item {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: -1;

                    object-fit: cover;
                }

                &_over {
                    width: 100%;
                    height: 100%;
                    background: rgba(22, 21, 19, 0.79);
                    backdrop-filter: blur(2.8499999046325684px);
                    position: absolute;

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        width: 0;
                        height: 100%;
                        background-color: #000000;
                        transition: width 0s;
                    }
                }


            }

            &_content {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 12px;
                z-index: 2;

                @include netbook {
                    gap: 10px;
                }
            }

            &_img {
                display: flex;
                overflow: hidden;
                min-width: 77px;
                max-width: 77px;
                width: 77px;
                height: 77px;

                img {
                    border-radius: 6px;
                    object-fit: cover;
                }
            }

            &_title {
                font-size: 20px;
                font-weight: 500;
                font-family: $font-roboto;
                line-height: 1.2;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

                @include netbook {
                    font-size: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }
            }
        }

        .swiper-slide-thumb-active {
            .steam-gifts-bottom__slide {
                border-color: $orange;
            }

            .steam-gifts-bottom__slide_bg_over::after {
                transition: width 5s ease-in-out;
                width: 100%;
            }


        }
    }
}

.steam-gifts-series {
    padding-top: 20px;
    padding-bottom: 20px;

    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        border-radius: 10px;
        border: 1px solid transparent;
        background: linear-gradient(135deg, #161513 0%, #161513) padding-box, linear-gradient(135deg, #272623 0%, #272623 75%, #FF6C3D) border-box;
        height: 236px;
        overflow: hidden;
        position: relative;
        transition: 300ms ease;

        &_bg {
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &_item {
                opacity: 0.14;
                object-position: bottom;
                height: 236px;
                filter: blur(2px);
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &_logo {
            margin-top: 20px;
            margin-bottom: 50px;

            img {
                height: 32px;
                object-fit: contain;
            }
        }

        &_photos {
            display: flex;
            justify-content: center;
            gap: 50px;
            padding: 0 50px;
            position: relative;
        }

        &_img {
            width: 119px;
            height: 138px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;

            &._center {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                height: 165px;
                width: 134px;
                object-fit: cover;
            }
        }

        &:hover {
            border-color: $orange;
        }
    }
}