.steam-history {
    padding: 30px 0 20px;

    &__card {
        padding: 3px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 3px;
        border: 1.2px solid #33302D;
        background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);

        &_img {
            display: flex;
            width: 46px;
            height: 46px;

            &_item {
                object-fit: cover;
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            gap: 2px;
            padding-right: 10px;
            line-height: 1;
        }

        &_title {
            font-size: 10px;
            color: $text-dark;
        }

        &_num {
            color: #D6B13A;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

.steam-title {
    padding: 20px 0;

    &__card {
        position: relative;
        border-radius: 15px;

        &_bg {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            height: -webkit-fill-available;
        }

        &_content {
            padding: 27px 30px;
            position: relative;
            display: flex;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
            }
        }

        &_title {
            width: 50%;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: 5px;
            line-height: 1;

            order: 1;

            @include mobile {
                order: 2;
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            &_main {
                color: #615447;
                font-size: 32px;
            }

            &_second {
                color: #D6B13A;
                font-size: 20px;
            }
        }

        &_img {
            display: flex;
            width: 100%;
            max-width: 460px;
            position: relative;

            order: 2;

            @include mobile {
                order: 1;
                height: 55px;
            }

            &_item {
                width: 100%;
                position: absolute;
                top: -140px;
            }
        }

        &_btns {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;

            order: 3;

            @include mobile {
                width: 100%;
                justify-content: center;
            }
        }

    }

    .cart-tab-btn {
        padding: 12px 40px;
        font-size: 12px;
    }
}

.steam-actions {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;

    &__block {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto auto;
        gap: 30px 2%;
        grid-template-areas:
            "bonus advantages"
            "bonus discount";

        @include netbook {
            grid-template-columns: 100%;
            grid-template-areas:
                "advantages"
                "bonus"
                "discount";
        }
    }
}

.steam-advantages {
    width: 100%;
    display: flex;
    gap: 10px;
    grid-area: advantages;

    @include mobile {
        flex-direction: column;
    }

    &__card {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 4px;
        background: #282725;
        padding: 5px;
        gap: 8px;

        &:hover {
            .steam-advantages__title {
                color: #D6B13A;
            }

            .steam-advantages__img {
                filter: none;
                transform: scale(1);
            }
        }
    }

    &__img {
        width: auto;
        height: 60px;
        object-fit: contain;
        object-position: center;
        transition: 300ms ease;
        transform: scale(0.9);
        filter: grayscale(1) brightness(0.4) contrast(1.5);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        color: white;
        transition: 300ms ease;
        line-height: 1;
    }

    &__text {
        color: white;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.1;
    }
}

.steam-discount {
    height: 100%;
    padding: 20px 10px 0;
    border-radius: 10px;
    background: #191917;
    box-shadow: 0px -31px 42.6px -26px rgba(0, 0, 0, 0.25);

    &__border {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        background: linear-gradient(180deg, #1A1917 0%, #262724 100%) padding-box, linear-gradient(to bottom, #ffffff00 4%, #7B3DFF) border-box;
        position: relative;
        border-radius: 10px;
        grid-area: discount;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__prices {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__price {
        visibility: hidden;
        opacity: 0;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
        color: #BE9FFF;
        border-radius: 22.5px;
        border: 1.258px solid #33302D;
        background: linear-gradient(142deg, rgba(52, 45, 39, 0.71) 0%, rgba(34, 34, 32, 0.71) 67.95%);
        backdrop-filter: blur(6.349999904632568px);
        transition: 400ms ease;

        &._active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__line {
        margin-top: 20px;
        border-radius: 3.5px;
        background: #282725;
        width: 100%;
        height: 7px;
        position: relative;
        display: flex;
        justify-content: space-around;

        &_color {
            top: 0;
            left: 0;
            position: absolute;
            width: auto;
            height: 100%;
            border-radius: 3.5px;
            background: linear-gradient(90deg, #7B3DFF 84.07%, rgba(123, 61, 255, 0.00) 100%);
            transition: width 300ms ease-in-out;
        }
    }

    &__btns {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: relative;
        bottom: -15px;
    }

    &__btn {
        border-radius: 25px;
        border: 1px solid #BE9FFF;
        background: #191917;
        padding: 5px 20px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        transition: 300ms ease;

        &:hover {
            border: 1px solid #7B3DFF;
        }

        &._active,
        &:focus {
            border: 1px solid #7B3DFF;
        }
    }

    &__dot {
        background: #3E3C39;
        width: 14px;
        height: 18px;
        border-radius: 50%;
        position: relative;
        top: -6px;
        border: 3px solid transparent;
        transition: 300ms ease;

        &:focus {
            border: 3px solid transparent;
            outline: none;
        }

        &._active {
            background-color: #7B3DFF;
            border: 3px solid #191917;
        }
    }
}

.steam-bonus {
    grid-area: bonus;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 210px;

    &__title {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;

        &_text {
            display: none;
            font-size: 14px;
            color: $text-dark;

            @include mobile {
                display: flex;
            }
        }

        @include mobile {
            justify-content: space-between;
        }


        &_bonus {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 700;
            color: #D6B13A;
            padding: 8px 15px;
            border-radius: 22.5px;
            border: 1.258px solid #33302D;
            background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);
        }

        &_crystal {
            height: 28px;
            object-fit: contain;
        }

        &_crystal {}
    }

    &__slider {
        display: flex;
        width: 100%;
        padding: 0 50px;
        border-radius: 10px;
        background: #191917;
        box-shadow: 0px -31px 42.6px -26px rgba(0, 0, 0, 0.25);

        .swiper {
            position: relative;
            top: -20px;
            height: max-content;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            display: none;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
        }

        .swiper-button-prev {
            top: 50%;
            transform: translateY(-70%);
            left: 10px;
        }

        .swiper-button-next {
            top: 50%;
            transform: translateY(-70%);
            right: 10px;
        }

        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            filter: brightness(0.8);
        }

        .swiper-line {
            border-radius: 3.5px;
            background: #282725;
            width: 100%;
            height: 6px;
            position: absolute;
            left: 0;
            bottom: 39px;
            display: flex;

            &__color {
                top: 0;
                left: 0;
                position: absolute;
                width: auto;
                height: 100%;
                border-radius: 3.5px;
                background: linear-gradient(90deg, #FF6C3D 84.07%, rgba(153, 65, 37, 0.00) 100%);
                transition: width 300ms ease-in-out;
            }
        }
    }

    &__border {
        width: 100%;
        height: 111px;
        border: 1px solid transparent;
        background: linear-gradient(180deg, #1A1917 0%, #262724 100%) padding-box, linear-gradient(to bottom, #ffffff00 4%, #D6B13A) border-box;
        position: relative;
        border-radius: 10px;
        display: flex;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &._active {
            .steam-bonus__img_item {
                filter: none;
            }

            .steam-bonus__open {
                display: flex;
            }
        }
    }

    &__img {
        position: relative;
        display: flex;
        flex-direction: column;

        &_item {
            height: 80px;
            object-fit: contain;
            filter: grayscale(1) brightness(0.3) contrast(1.3);
        }
    }

    &__open {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
        padding: 6px 12px;
        color: #D6B13A;
        border-radius: 22.5px;
        border: 1.2px solid #33302D;
        background: linear-gradient(142deg, rgba(52, 45, 39, 0.71) 0%, rgba(34, 34, 32, 0.71) 67.95%);
        backdrop-filter: blur(6.349999904632568px);
        display: none;
    }

    &__dot {
        border-radius: 50%;
        border: 3px solid #191917;
        background: #D6B13A;
        width: 16px;
        height: 16px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 15px;
        border: 1px solid #FF7347;
        background: #191917;
        font-size: 12px;
        font-weight: 500;
        color: white;
        line-height: 1;
        padding: 5px 10px;
    }

    &__crystal {
        width: 13px;
        height: 13px;
        object-fit: contain;
    }

    .swiper-wrapper {
        height: auto;
    }

    .swiper-slide {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}

.steam-login {
    margin: 40px 0;

    @include mobile {
        margin-top: 60px;
    }

    &__block {
        display: flex;
        gap: 20px;

        @include netbook {
            flex-direction: column;
        }
    }

    &__form {
        border-radius: 10px;
        background: #1A1917;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include mobile {
            background: transparent;
            padding: 0;
        }

        &_input {
            padding-left: 50px;
        }

        &_btn {}

        &_svg {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 11;
        }

        &_subtitle {
            font-size: 13px;
            color: $text-dark;
            line-height: 1;
        }

        &_select {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 0px;
            margin-bottom: 20px;

            @include mobile {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    &__info {
        width: 100%;
        max-width: 403px;
        border-radius: 10px;
        background: #1A1917;
        padding: 10px;
        display: flex;
        flex-direction: column;

        @include netbook {
            max-width: 100%;
            flex-direction: row;
            gap: 40px;
        }

        @include mobile {
            flex-direction: column;
            background: transparent;
            padding: 0;
            gap: 0;
        }

        &_subtitle {
            font-size: 13px;
            color: $text-dark;
            text-align: center;
            margin: 16px 0;

            &_2 {
                width: 100%;
                max-width: 300px;

                font-size: 10px;
                color: $text-dark;
                text-align: center;
                margin: 16px auto;
            }
        }

        &_name {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            &_text {
                font-size: 24px;
                font-weight: 600;
                color: white;
                line-height: 1.3;
            }

            &_region {
                width: 36px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px;
                border-radius: 4px;
                background: #282725;
            }

        }

        &_item {
            display: flex;
            align-items: center;
            border-radius: 5px;
            background: #282725;
            padding: 7px;
            width: max-content;
            margin-bottom: 20px;
            line-height: 1;
            gap: 5px;

            &_count {
                font-size: 12px;
                font-weight: 500;
            }

            &_img {
                width: 22px;
                height: 18px;
                object-fit: contain;
            }
        }

        &_1 {
            width: 100%;
        }

        &_2 {
            width: 100%;
        }
    }

    &__pay {
        border-radius: 4px;
        background: #1D1D1B;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px 20px;
        position: relative;
        overflow: hidden;

        &_card {
            display: flex;
            align-items: center;
            gap: 0px;

            &_img {
                width: 125px;
            }

            &_content {
                display: flex;
                flex-direction: column;
            }

            &_price {
                font-size: 20px;
                line-height: 1;
                display: flex;
                align-items: center;
                gap: 6px;
                font-weight: 600;
            }

            &_subprice {
                font-size: 12px;
                color: $text-dark;
            }
        }

        &_btn {
            font-size: 12px;
            color: $text-dark;
            padding: 10px 20px;
            line-height: 1;
            border-radius: 3px;
            border: 1.2px solid #33302D;
            background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);
            transition: 300ms ease;

            &:hover {
                color: white;
                border-color: $orange;
            }

            &_main {
                width: 100%;
                margin-top: 20px;
                padding: 15px 20px;
            }
        }

        &_bonus {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 0px 4px 19.5px 0px;
            background: #262625;
            padding: 5px 15px;
            line-height: 1;

            &_main {
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 16px;
            }

            &_sub {
                color: $text-dark;
                font-size: 10px;
            }
        }

        &_add {
            display: flex;
            align-items: center;
            gap: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 0px 19.5px 4px 0px;
            background: #262625;
            padding: 10px 15px;
            font-size: 12px;
            font-weight: 500;

            &_crystal {
                width: 10px;
            }
        }
    }

    &__price {
        width: calc(100% + 20px);
        position: relative;
        left: -10px;
        background: linear-gradient(90deg, rgba(255, 108, 61, 0.10) 0%, rgba(25, 25, 23, 0.00) 100%);
        padding: 12px 20px 5px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;

        @include mobile {
            width: 100%;
            left: 0;
        }

        &::before {
            content: "";
            display: flex;
            width: 3px;
            height: 100%;
            border-radius: 10px;
            background: #CBA636;
            position: absolute;
            left: 0;
            top: 0;
        }

        &_pay {
            line-height: 1;
            display: flex;
            flex-direction: column;
            gap: 7px;

            &_num {
                font-size: 20px;
                color: white;
                font-weight: 700;
            }
        }

        &_sub {
            font-size: 10px;
            color: $text-dark;
            text-align: right;
        }

        &_get {
            line-height: 1;
            display: flex;
            flex-direction: column;
            gap: 4px;

            &_num {
                font-size: 20px;
                color: #D7B038;
                font-weight: 700;
            }

            &_block {
                display: flex;
                align-items: center;
                gap: 7px;
            }

            &_bonus {
                font-size: 12px;
            }

            &_wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 5px;
            }

            &_icon {
                width: 47px;
                height: 38px;
                object-fit: contain;
            }
        }

        &_svg {
            margin-top: 12px;
        }
    }

}

.steam-slider {
    margin: 40px 0;
    overflow: hidden;

    .game-slider__actions {
        margin-bottom: 30px;
    }

    .swiper-slide {
        max-width: 240px;
    }

    .swiper {
        @include netbook {
            overflow: visible;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;

        &_content {
            display: flex;
            flex-direction: column;
            gap: 3px;
            line-height: 1;
        }

        &_main {
            font-size: 19px;
            color: #C3B8A2;
            font-family: $font-roboto;
            font-weight: 500;
        }

        &_sub {
            color: #6D675B;
            font-family: $font-roboto;
            font-weight: 300;
            font-size: 12px;
        }
    }
}

.faq-steam {
    &__content {
        width: 100%;
        max-width: 830px;
        border-radius: 10px;
        border: 1px solid #2F2D2B;
        background: #1A1917;
        box-shadow: 0px 4px 20.8px 0px rgba(0, 0, 0, 0.60);
        padding-bottom: 20px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: $text-dark;
        font-size: 16px;
        padding: 11px;
    }

    &__contact {
        border-radius: 5px;
        border: 1px solid #423D39;
        background: linear-gradient(270deg, #232220 0%, #191917 100%);
        padding: 12px;
        margin: 11px;
        display: flex;
        justify-content: space-between;

        &_btns {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &_img {
            display: flex;
            position: relative;
            width: 100px;
            height: 40px;

            &_item {
                position: absolute;
                right: 50px;
                bottom: -20px;
                width: auto;
                height: 130px;
            }
        }
    }

    &__questions {
        margin: 16px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__question {
        border-radius: 2px;
        border: 1px solid #34312D;
        background: #1C1B19;

        &:hover {
            border-color: $orange;
        }

        &:nth-child(odd) {
            border-radius: 2px;
            border: 1px solid #34312D;
            background: #22211E;

            &:hover {
                border-color: $orange;
            }
        }

        .accordion__intro {
            padding: 12px 15px;
        }

        .accordion__intro_icon {
            background: transparent;
            padding: 8px;
            margin-left: 20px;
        }

        &.accordion__active .accordion__content {
            padding: 10px 20px;
        }

        &_title {
            color: $text-dark;
            line-height: 1.2;
        }

        &_text {
            font-size: 14px;
            line-height: 1.2;
        }
    }
}