.btn-arrow {
    font-size: 14px;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #282725;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 50px 10px 16px;
    line-height: 1;
    position: relative;

    &::after {
        content: "\2192";
        display: flex;
        position: absolute;
        right: 16px;
        top: 45%;
        transform: translateY(-50%);
        font-size: 30px;
        line-height: 0;
        font-family: 'Courier New', Courier, monospace;
    }

    &:hover {
        border-color: $orange;
        color: white;
    }
}

.more-btn {
    font-size: 16px;
    font-weight: 400;
    padding: 14px 45px;
    border-radius: 9px;
    border: 1px solid $text-dark;

    &:hover {
        color: white;
        border-color: $orange;
    }
}

.cart-tab-btn {
    font-size: 8.95px;
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
    border: 1px solid #33302D;
    background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);

    &:hover,
    &._active {
        border: 1px solid $orange;
    }

    &:focus {
        outline: none;
    }
}

.btn-bordered {
    font-size: 14px;
    border: 1px solid $text-dark;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 30px;
    line-height: 1.2;
    transition: 300ms ease;

    &:hover {
        border-color: $orange;
    }

}

.btn-blur {
    border-radius: 7px;
    border: 1px solid var(--text-Dark, #847F7D);
    background: linear-gradient(270deg, #4F4F4F 0%, #483C36 31.28%, #46423F 48.78%, #483C36 70.71%, #4F4F4F 100%);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 40px;
    color: $text-white;
    transition: 300ms ease;
    line-height: 1;

    &:hover {
        border-color: $orange;
        background: #00000010;
    }
}