.btn-arrow {
    font-size: 14px;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #282725;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 50px 10px 16px;
    line-height: 1;
    position: relative;

    &::after {
        content: "\2192";
        display: flex;
        position: absolute;
        right: 16px;
        top: 45%;
        transform: translateY(-50%);
        font-size: 30px;
        line-height: 0;
        font-family: 'Courier New', Courier, monospace;
    }

    &:hover {
        border-color: $orange;
        color: white;
    }
}

.more-btn {
    font-size: 16px;
    font-weight: 400;
    padding: 14px 35px;
    border-radius: 9px;
    border: 1px solid $text-dark;
    line-height: 1;

    &:hover {
        color: white;
        border-color: $orange;
    }
}

.cart-tab-btn {
    font-size: 8.95px;
    color: $text-dark;
    padding: 8px 20px;
    border-radius: 3px;
    border: 1px solid #33302D;
    background: linear-gradient(142deg, #342D27 0%, #222220 67.95%);
    transition: 200ms ease;

    &:hover,
    &._active {
        color: white;
        border: 1px solid $orange;
    }

    &:focus {
        outline: none;
    }
}

.btn-bordered {
    font-size: 14px;
    border: 1px solid $text-dark;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 30px;
    line-height: 1.2;
    transition: 300ms ease;

    &:hover {
        border-color: $orange;
    }

    &._admin {
        width: 100%;
        border-radius: 8px;
        border: 1px solid $orange;
        background: #2D2723;
        color: $text-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.btn-blur {
    border-radius: 7px;
    border: 1px solid var(--text-Dark, #847F7D);
    background: linear-gradient(270deg, #4F4F4F 0%, #483C36 31.28%, #46423F 48.78%, #483C36 70.71%, #4F4F4F 100%);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 40px;
    color: $text-white;
    transition: 300ms ease;
    line-height: 1;

    &:hover {
        border-color: $orange;
        background: #00000010;
    }
}

.btn-normal {
    border-radius: 4px;
    background: #282725;
    font-size: 14px;
    padding: 5px 18px;
    color: white;
    text-align: center;
    border: 1px solid transparent;
    transition: 200ms ease;

    &:hover {
        background-color: lighten($color: #282725, $amount: 5);
    }

    &._active {
        color: white;
    }

    &._positive {
        background: #233223;
        color: #648E5D;

        &:hover {
            color: #84EA73;
            background-color: lighten($color: #233223, $amount: 5);
        }

        &._active {
            color: #84EA73;
        }
    }

    &._negative {
        background: #2C1F1F;
        color: #AA5454;

        &:hover {
            color: #FF7474;
            background-color: lighten($color: #2C1F1F, $amount: 5);
        }

        &._active {
            color: #FF7474;
        }
    }
}

.btn-admin {
    border-radius: 5px;
    background: #2E2D2B;
    padding: 8px 20px;
    line-height: 1;
    font-size: 14px;
    color: $text-dark;
    transition: 300ms ease;
    border: 1px solid transparent;

    &:hover {
        color: white;
    }
}

.btn-admin-action {
    border-radius: 4px;
    background: #42312A;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
}