<footer class="footer">
    <div class="container-fluid payment-footer">
        <div class="container">
            <!-- Swiper -->
            <div class="swiper footerPaySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/visa.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/mastercard.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/web-money.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/robokassa.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/paypal-2.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/google-pay.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/yandex.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/apple-pay.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/qiwi.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/bitcoin.svg" alt=""></div>
                    <div class="swiper-slide"><img class="payment-footer__icon" src="assets/images/icons/payment-methods/stripe.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer__bg">
        <div class="footer__shape-1"></div>
        <div class="footer__shape-2"></div>
        <div class="footer__shape-3"></div>

        <div class="container-fluid advantages-footer">
            <div class="container">
                <div class="advantages-footer__block">
                    <div class="advantages-footer__item">
                        <img src="assets/images/advantages/1.svg" class="advantages-footer__img">
                        <span class="advantages-footer__title">Поддержка клиентов 24/7</span>
                    </div>
                    <div class="advantages-footer__item">
                        <img src="assets/images/advantages/2.svg" class="advantages-footer__img">
                        <span class="advantages-footer__title">Моментальная доставка</span>
                    </div>
                    <div class="advantages-footer__item">
                        <img src="assets/images/advantages/3.svg" class="advantages-footer__img">
                        <span class="advantages-footer__title">Более 10 лет работы</span>
                    </div>
                    <div class="advantages-footer__item">
                        <img src="assets/images/advantages/4.svg" class="advantages-footer__img">
                        <span class="advantages-footer__title">Самые лучшие цены</span>
                    </div>
                    <div class="advantages-footer__item">
                        <img src="assets/images/advantages/5.svg" class="advantages-footer__img">
                        <span class="advantages-footer__title">Множество способо оплаты</span>
                    </div>
                    <div class="advantages-footer__item">
                        <img src="assets/images/advantages/6.svg" class="advantages-footer__img">
                        <span class="advantages-footer__title">15 негативных отзывов</span>
                    </div>
                    <div class="advantages-footer__item">
                        <img src="assets/images/advantages/7.svg" class="advantages-footer__img">
                        <span class="advantages-footer__title">Регулярные скидки и акции</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid footer-contact">
            <div class="container">
                <div class="footer-contact__block">
                    <div class="footer-contact__links">
                        <div class="footer-contact__menu">
                            <a class="footer-contact__menu_item" href="#">Магазин</a>
                            <a class="footer-contact__menu_item" href="#">Отзывы</a>
                            <a class="footer-contact__menu_item" href="#">Гарантии</a>
                            <a class="footer-contact__menu_item" href="#">Доставка</a>
                            <a class="footer-contact__menu_item" href="#">Как купить</a>
                            <a class="footer-contact__menu_item" href="#">Служба поддержки</a>
                        </div>
                        <div class="footer-contact__social">
                            <a href="#" class="footer-contact__social_item">
                                <img src="assets/images/vk.svg" alt="">
                            </a>
                            <a href="#" class="footer-contact__social_item">
                                <img src="assets/images/twitter.svg" alt="">
                            </a>
                            <a href="#" class="footer-contact__social_item">
                                <img src="assets/images/telegram.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer-contact__brands swiper footerBrandSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="assets/images/valve.svg" alt="" class="footer-contact__brand"></div>
                            <div class="swiper-slide"><img src="assets/images/blizzard.svg" alt="" class="footer-contact__brand"></div>
                            <div class="swiper-slide"><img src="assets/images/sega.svg" alt="" class="footer-contact__brand"></div>
                            <div class="swiper-slide"><img src="assets/images/ubisoft.svg" alt="" class="footer-contact__brand"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container-fluid footer-bottom">
        <div class="container">
            <div class="footer-bottom__block">
                <div class="footer-bottom__text">
                    © 2024 - GameBis.com <span class="footer-bottom__text_white">Все права защищены</span>
                </div>
                <div class="footer-bottom__links">
                    <a href="#" class="footer-bottom__link">О магазине</a>
                    <a href="#" class="footer-bottom__link">Вакансии</a>
                    <a href="#" class="footer-bottom__link">Партнерская программа</a>
                    <a href="#" class="footer-bottom__link">Соглашение</a>
                </div>
            </div>
        </div>
    </div>

</footer>