<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__logo">
                <a href="#">Logotype</a>
            </div>
            <div class="header__menu">
                <a href="#" class="header__menu_item">Активация</a>
                <a href="#" class="header__menu_item">VPN</a>
                <a href="#" class="header__menu_item">Ошибки & Решения</a>
                <a href="#" class="header__menu_item">Заказ игры</a>
            </div>
            <div class="header__lang">
                <button>
                    <img src="" alt="">
                </button>
            </div>
        </div>
    </div>
</header>