<header class="header">
    <!-- Left Shapes -->
    <div class="header__shape-1"></div>
    <div class="header__shape-2"></div>
    <div class="header__shape-3"></div>

    <!-- Right Shapes -->
    <div class="header__shape-4"></div>
    <div class="header__shape-5"></div>
    <div class="header__shape-6"></div>

    <div class="container">
        <div class="header__block">
            <div class="header__logo">

                <button class="hamburger hamburger--squeeze js-hamburger header__logo_menu" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <a class="header__logo_link" href="#">Logotype</a>
            </div>
            <div class="header__menu js-hamburger-menu">
                <div class="header__menu_block">
                    <a href="#" class="header__menu_item">Активация</a>
                    <a href="#" class="header__menu_item">VPN</a>
                    <a href="#" class="header__menu_item">Ошибки & Решения</a>
                    <a href="#" class="header__menu_item">Заказ игры</a>
                </div>
            </div>
            <div class="header__lang">
                <button type="button" class="header__lang_button">
                    <img class="header__lang_img" src="assets/images/ru.svg" alt="">
                    <div class="header__lang_dots">
                        <svg width="5" height="21" viewBox="0 0 5 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="2.5" cy="2.5" r="2.5" fill="#D9D9D9" />
                            <circle cx="2.5" cy="10.5" r="2.5" fill="#D9D9D9" />
                            <circle cx="2.5" cy="18.5" r="2.5" fill="#D9D9D9" />
                        </svg>
                    </div>
                </button>
                <div class="header__lang_dropdown">
                    <a href="#" class="header__lang_link">
                        <img class="header__lang_img" src="assets/images/en.svg" alt="">
                    </a>
                    <a href="#" class="header__lang_link">
                        <img class="header__lang_img" src="assets/images/uk.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>