<header class="header">
    <!-- Left Shapes -->
    <div class="header__shape-1"></div>
    <div class="header__shape-2"></div>
    <div class="header__shape-3"></div>

    <!-- Right Shapes -->
    <div class="header__shape-4"></div>
    <div class="header__shape-5"></div>
    <div class="header__shape-6"></div>

    <div class="container">
        <div class="header__block">
            <div class="header__logo">

                <button class="hamburger hamburger--squeeze js-hamburger header__logo_menu" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <a class="header__logo_link" href="#">GameBis</a>
            </div>
            <div class="header__menu js-hamburger-menu">
                <div class="header__menu_block">
                    <a href="main.html" class="header__menu_item active">Главная</a>
                    <a href="catalog.html" class="header__menu_item">Каталог</a>
                    <a href="cart.html" class="header__menu_item">Информация</a>
                    <a href="index.html" class="header__menu_item">Карта лояльности</a>
                </div>
            </div>
            <div class="header__actions">
                <a href="#" class="header__actions_link">
                    <img src="../assets/images/icons/search-normal.svg" alt="">
                </a>
                <a href="#" class="header__actions_link">
                    <img src="../assets/images/icons/messages.svg" alt="">
                </a>
                <a href="#" class="header__actions_link">
                    <img src="../assets/images/icons/empty-wallet-add.svg" alt="">
                </a>
                <a href="#" class="header__actions_link">
                    <img src="../assets/images/icons/bag-2.svg" alt="">
                </a>
                <a href="#" class="header__actions_admin">
                    <img src="../assets/images/home/card-image.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>