<header class="header">
    <!-- Left Shapes -->
    <div class="header__shape-1"></div>
    <div class="header__shape-2"></div>
    <div class="header__shape-3"></div>

    <!-- Right Shapes -->
    <div class="header__shape-4"></div>
    <div class="header__shape-5"></div>
    <div class="header__shape-6"></div>

    <div class="container">
        <div class="header__block">
            <div class="header__logo">

                <button class="header__logo_menu js-hamburger _active">
                    <svg class="header__logo_menu_static" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M8.71771 0.217773H1.82723C0.819634 0.217773 0 1.03741 0 2.045V8.93548C0 9.94307 0.819634 10.7627 1.82723 10.7627H8.71771C9.7253 10.7627 10.5449 9.94307 10.5449 8.93548V2.045C10.5448 1.03741 9.7253 0.217773 8.71771 0.217773Z" fill="#847F7D" />
                        <path d="M22.1708 0.217773H15.2804C14.2728 0.217773 13.4531 1.03741 13.4531 2.045V8.93548C13.4531 9.94307 14.2728 10.7627 15.2804 10.7627H22.1708C23.1784 10.7627 23.9981 9.94307 23.9981 8.93548V2.045C23.9981 1.03741 23.1784 0.217773 22.1708 0.217773Z" fill="#847F7D" />
                        <path d="M8.71771 13.6729H1.82723C0.819634 13.6729 0 14.4924 0 15.5V22.3905C0 23.3981 0.819634 24.2177 1.82723 24.2177H8.71771C9.7253 24.2177 10.5449 23.3981 10.5449 22.3905V15.5C10.5448 14.4924 9.7253 13.6729 8.71771 13.6729Z" fill="#847F7D" />
                        <path d="M22.1708 13.6729H15.2804C14.2728 13.6729 13.4531 14.4925 13.4531 15.5001V22.3906C13.4531 23.3982 14.2728 24.2178 15.2804 24.2178H22.1708C23.1784 24.2177 23.9981 23.3981 23.9981 22.3905V15.5C23.9981 14.4924 23.1784 13.6729 22.1708 13.6729Z" fill="#847F7D" />
                    </svg>
                    <svg class="header__logo_menu_hover" xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25" fill="none">
                        <path d="M9.73333 0.209961H2.84285C1.83526 0.209961 1.01562 1.02959 1.01562 2.03719V8.92767C1.01562 9.93526 1.83526 10.7549 2.84285 10.7549H9.73333C10.7409 10.7549 11.5606 9.93526 11.5606 8.92767V2.03719C11.5604 1.02959 10.7409 0.209961 9.73333 0.209961Z" fill="#FF7347" />
                        <path d="M24.7754 4.61453L20.6169 0.456068C20.0088 -0.152023 19.0195 -0.152023 18.4114 0.456068L14.2529 4.61453C13.6449 5.22263 13.6449 6.21194 14.2529 6.82003L18.4114 10.9785C19.0195 11.5866 20.0088 11.5866 20.6169 10.9785L24.7754 6.82003C25.3835 6.21194 25.3835 5.22263 24.7754 4.61453Z" fill="#FF7347" />
                        <path d="M11.2363 17.8971L7.31158 13.9724C6.73768 13.3985 5.80403 13.3985 5.23012 13.9724L1.30543 17.8971C0.731523 18.471 0.731524 19.4047 1.30543 19.9786L5.23012 23.9033C5.80403 24.4772 6.73772 24.4772 7.31163 23.9033L11.2363 19.9786C11.8101 19.4046 11.8102 18.471 11.2363 17.8971Z" fill="#FF7347" />
                        <path d="M23.1865 13.665H16.296C15.2884 13.665 14.4688 14.4847 14.4688 15.4923V22.3827C14.4688 23.3903 15.2884 24.21 16.296 24.21H23.1865C24.1941 24.2099 25.0137 23.3903 25.0137 22.3827V15.4922C25.0137 14.4846 24.1941 13.665 23.1865 13.665Z" fill="#FF7347" />
                    </svg>
                </button>

                <a class="header__logo_link" href="#">
                    <img src="assets/images/icons/logo.svg" alt="">
                </a>
            </div>
            <div class="header__menu">
                <div class="header__menu_block">
                    <div class="header__menu_mobile">
                        <a href="#" class="header__actions_link">
                            <img src="assets/images/icons/search-normal.svg" alt="">
                            <span>Поиск</span>
                        </a>
                        <a href="#" class="header__actions_link">
                            <img src="assets/images/icons/messages.svg" alt="">
                            <span>Тикеты</span>
                        </a>
                        <a href="#" class="header__actions_link">
                            <img src="assets/images/icons/empty-wallet-add.svg" alt="">
                            <span>Баланс</span>
                        </a>
                        <a href="#" class="header__actions_link">
                            <img src="assets/images/icons/bag-2.svg" alt="">
                            <span>Корзина</span>
                        </a>
                    </div>
                    <a href="index.html" class="header__menu_item active">Главная</a>
                    <a href="catalog.html" class="header__menu_item">Каталог</a>
                    <a href="cart.html" class="header__menu_item">Информация</a>
                    <a href="vpn.html" class="header__menu_item">Карта лояльности</a>
                    <div class="catalog__tabs header__menu_catalog">
                        <div class="catalog__tab catalog__tab_name">
                            <span class="catalog__tab_block">
                                <img class="catalog__tab_img" src="assets/images/home/icons/catalog.svg" alt="">
                                <span class="catalog__tab_title">Catalog</span>
                            </span>
                        </div>
                        <button class="catalog__btn">
                            <span class="catalog__btn_name">Xbox</span>
                            <img class="catalog__btn_img" src="assets/images/icons/arrow-down.svg" alt="">
                        </button>
                        <div class="catalog__tabs_content">
                            <a class="catalog__tab" href="#">
                                <span class="catalog__tab_block">
                                    <img class="catalog__tab_img" src="assets/images/home/icons/pc.svg" alt="">
                                    <span class="catalog__tab_title">PC</span>
                                </span>
                            </a>
                            <a class="catalog__tab" href="#">
                                <span class="catalog__tab_block">
                                    <img class="catalog__tab_img" src="assets/images/home/icons/playstation.svg" alt="">
                                    <span class="catalog__tab_title">PlayStation</span>
                                </span>
                            </a>
                            <a class="catalog__tab active" href="#">
                                <span class="catalog__tab_block">
                                    <img class="catalog__tab_img" src="assets/images/home/icons/xbox.svg" alt="">
                                    <span class="catalog__tab_title">Xbox</span>
                                </span>
                            </a>
                            <a class="catalog__tab" href="#">
                                <span class="catalog__tab_block">
                                    <img class="catalog__tab_img" src="assets/images/home/icons/nintendo.svg" alt="">
                                    <span class="catalog__tab_title">Nintendo</span>
                                </span>
                            </a>
                            <a class="catalog__tab" href="#">
                                <span class="catalog__tab_block">
                                    <img class="catalog__tab_img" src="assets/images/home/icons/giftcard.svg" alt="">
                                    <span class="catalog__tab_title">Gift Cards</span>
                                </span>
                            </a>
                            <a class="catalog__tab" href="#">
                                <span class="catalog__tab_block">
                                    <img class="catalog__tab_img" src="assets/images/home/icons/subs.svg" alt="">
                                    <span class="catalog__tab_title">Subscriptions</span>
                                </span>
                            </a>
                            <a class="catalog__tab" href="#">
                                <span class="catalog__tab_block">
                                    <img class="catalog__tab_img" src="assets/images/home/icons/gamepoints.svg" alt="">
                                    <span class="catalog__tab_title">Game Points</span>
                                </span>
                            </a>
                        </div>
                        <div class="catalog__bg"></div>
                    </div>
                </div>
            </div>
            <div class="header__actions">
                <div class="header__actions_block">
                    <a href="#" class="header__actions_link">
                        <img src="assets/images/icons/search-normal.svg" alt="">
                    </a>
                    <a href="#" class="header__actions_link">
                        <img src="assets/images/icons/messages.svg" alt="">
                    </a>
                    <a href="#" class="header__actions_link">
                        <img src="assets/images/icons/empty-wallet-add.svg" alt="">
                    </a>
                    <a href="#" class="header__actions_link">
                        <img src="assets/images/icons/bag-2.svg" alt="">
                    </a>
                </div>
                <a href="#" class="header__actions_admin">
                    <img src="assets/images/home-new/admin.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>

<div class="js-hamburger-menu logo-menu active">
    <div class="container">
        <div class="logo-menu__block">
            <div class="logo-menu__payment">
                <div class="logo-menu__title">GameBis - Поможет!</div>
                <div class="logo-menu__payment_cards">
                    <div class="logo-menu__payment_card _steam">
                        <div class="logo-menu__payment_card_bg">
                            <img class="logo-menu__payment_card_bg_item" src="assets/images/home-new/header-steam-bg.svg" alt="">
                        </div>
                        <div class="logo-menu__payment_card_img">
                            <img class="logo-menu__payment_card_img_item" src="assets/images/home-new/header-steam-img.png">
                        </div>
                        <div class="logo-menu__payment_card_content">
                            <div class="logo-menu__payment_card_title">Пополнение кошелька</div>
                            <div class="logo-menu__payment_card_logo">
                                <span class="logo-menu__payment_card_logo_text">STEAM</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <g clip-path="url(#clip0_2402_33960)">
                                        <path d="M11 0.257812C5.06726 0.257812 0.257812 5.06726 0.257812 11C0.257812 16.9327 5.06726 21.7422 11 21.7422C16.9327 21.7422 21.7422 16.9327 21.7422 11C21.7422 5.06726 16.9327 0.257812 11 0.257812ZM14.6649 12.166L11.033 14.7908C10.9012 16.2093 9.68804 17.3194 8.22662 17.3194C7.58464 17.3198 6.96162 17.1017 6.46005 16.701C5.95847 16.3003 5.60819 15.7408 5.46683 15.1146L3.55592 14.3553V10.8246L6.78477 12.1159C7.28866 11.8151 7.85469 11.6803 8.51353 11.7381L10.8702 8.39248C10.8857 6.34189 12.5796 4.68063 14.6572 4.68063C16.7464 4.68063 18.4403 6.36118 18.4441 8.41947C18.4441 10.493 16.7463 12.166 14.6649 12.166Z" fill="white" />
                                        <path d="M8.22788 12.459C8.07659 12.4585 7.92574 12.4753 7.77826 12.5091L8.64266 12.856C8.84326 12.934 9.02637 13.0511 9.18138 13.2005C9.33638 13.3498 9.4602 13.5284 9.54565 13.726C9.6311 13.9235 9.67649 14.1361 9.67917 14.3513C9.68185 14.5666 9.64179 14.7802 9.56129 14.9798C9.47971 15.1807 9.35931 15.3635 9.20697 15.5178C9.05464 15.6721 8.87337 15.7948 8.67354 15.8789C8.47372 15.9631 8.25926 16.007 8.04244 16.0081C7.82563 16.0092 7.61072 15.9676 7.41002 15.8856C7.0728 15.7545 6.72784 15.6119 6.39062 15.4847C6.55976 15.8118 6.81295 16.0879 7.12415 16.2847C7.43535 16.4815 7.79335 16.5918 8.16133 16.6044C8.52932 16.617 8.89402 16.5314 9.21795 16.3563C9.54188 16.1813 9.81335 15.9231 10.0045 15.6084C10.1956 15.2937 10.2994 14.9338 10.3053 14.5656C10.3112 14.1974 10.219 13.8344 10.0381 13.5137C9.85718 13.193 9.59414 12.9262 9.276 12.7409C8.95785 12.5555 8.59608 12.4582 8.22788 12.459Z" fill="white" />
                                        <path d="M14.6599 5.91406C13.2529 5.91406 12.1172 7.03959 12.1172 8.42344C12.1172 9.81489 13.2568 10.9328 14.6599 10.9328C16.0515 10.9367 17.1951 9.81502 17.191 8.42344C17.1911 7.03959 16.0515 5.91406 14.6599 5.91406ZM14.6541 9.93031C14.3567 9.92713 14.067 9.83604 13.8212 9.66852C13.5755 9.50099 13.3849 9.26452 13.2733 8.98886C13.1617 8.71321 13.1341 8.4107 13.1941 8.11942C13.2541 7.82814 13.3989 7.56111 13.6103 7.35196C13.8217 7.1428 14.0902 7.00086 14.3821 6.94401C14.674 6.88717 14.9762 6.91795 15.2507 7.03249C15.5251 7.14703 15.7595 7.3402 15.9244 7.58769C16.0893 7.83518 16.1773 8.12592 16.1773 8.42331C16.1766 8.62237 16.1366 8.81933 16.0596 9.0029C15.9826 9.18647 15.8701 9.35303 15.7286 9.49303C15.5871 9.63304 15.4193 9.74373 15.235 9.81877C15.0506 9.89381 14.8532 9.93171 14.6541 9.93031H14.6541Z" fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2402_33960">
                                            <rect width="22" height="22" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>

                        </div>
                        <div class="logo-menu__payment_card_dis _steam">
                            <span>5%</span>
                        </div>
                    </div>
                    <div class="logo-menu__payment_card _boost">
                        <div class="logo-menu__payment_card_bg">
                            <img class="logo-menu__payment_card_bg_item" src="assets/images/home-new/header-boost-bg.png" alt="">
                        </div>
                        <div class="logo-menu__payment_card_img">
                            <img class="logo-menu__payment_card_img_item" src="assets/images/home-new/header-boost-img.png">
                        </div>
                        <div class="logo-menu__payment_card_content">
                            <div class="logo-menu__payment_card_title">Буст мобильных игр</div>
                            <div class="logo-menu__payment_card_subtitle">Пополнение, ачивки, аккаунты, прокачка</div>
                        </div>
                        <div class="logo-menu__payment_card_dis _boost">
                            <span>5%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo-menu__game">
                <div class="logo-menu__title">Вам повезет</div>
                <div class="logo-menu__game_block">
                    <div class="logo-menu__game_card">
                        <img class="logo-menu__game_img" src="assets/images/home-new/header-game-img.png">
                        <div class="logo-menu__game_content">
                            <div class="logo-menu__game_title">Игра “Вам повезет”</div>
                            <div class="logo-menu__game_text">Выберите 3 ячейки, если 2 ячейки будут совпадать то вы автоматически получаете данную скидку из выигранного на покупку любой игры из нашего каталога. Удачи!</div>
                        </div>
                    </div>
                    <div class="logo-menu__game_items">
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-1.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-2.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-3.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-4.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-5.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-6.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-7.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-8.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                        <div class="logo-menu__game_item">
                            <img class="logo-menu__game_item_img" src="assets/images/home-new/game-9.png" alt="">
                            <button class="logo-menu__game_item_overlay js-header-game-open">
                                <img class="logo-menu__game_item_overlay_img" src="assets/images/home-new/game-overlay.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>