<section class="new-reviews container">
    <div class="new-reviews__block">
        <div class="new-reviews__heading">
            <div class="new-reviews__title">
                <div class="new-block__title">
                    <img class="new-block__title_icon" src="../assets/images/new-catalog/title-logo.svg" alt="">
                    <a href="#" class="new-block__title_text">Отзывы на других ресурсах</a>
                </div>
            </div>
            <div class="new-reviews__cards">
                <a href="#" class="new-reviews__card">
                    <img src="assets/images/home/review-1.svg" class="new-reviews__card_img">
                    <div class="new-reviews__card_title">Отзовик</div>
                    <div class="new-reviews__card_count">Отзывов: 217</div>
                </a>
                <a href="#" class="new-reviews__card">
                    <img src="assets/images/home/review-2.svg" class="new-reviews__card_img">
                    <div class="new-reviews__card_title">Яндекс карты</div>
                    <div class="new-reviews__card_count">Отзывов: 217</div>
                </a>
                <a href="#" class="new-reviews__card">
                    <img src="assets/images/home/review-3.svg" class="new-reviews__card_img">
                    <div class="new-reviews__card_title">Plati</div>
                    <div class="new-reviews__card_count">Отзывов: 217</div>
                </a>
                <a href="#" class="new-reviews__card">
                    <img src="assets/images/home/review-4.svg" class="new-reviews__card_img">
                    <div class="new-reviews__card_title">Авито</div>
                    <div class="new-reviews__card_count">Отзывов: 217</div>
                </a>
            </div>
        </div>
        <div class="new-reviews__content">

            <div class="new-reviews__item">
                <div class="new-reviews__item_title">Если есть имя то тут Имя</div>
                <div class="new-reviews__item_subtitle">Если отзыв с другой площадки</div>
                <div class="new-reviews__item_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Voluptatibus laborum, minima commodi quaerat officia ratione eaque in quod soluta aspernatur
                    aliquam. Nobis modi molestias est, unde accusamus veritatis natus nesciunt.</div>
            </div>

            <div class="new-reviews__item">
                <div class="new-reviews__item_title">Если есть имя то тут Имя</div>
                <div class="new-reviews__item_subtitle">Если отзыв с другой площадки</div>
                <div class="new-reviews__item_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad facere
                    voluptatem, vitae cupiditate dolores eos dicta animi illum inventore dolore rem ullam ipsa nesciunt
                    nostrum ab placeat molestiae nam velit, maiores repudiandae suscipit? Fugiat officia autem harum
                    quam laudantium iure delectus. Nihil, fuga aspernatur. Facilis fuga laboriosam error laudantium.
                    Blanditiis dicta, corrupti explicabo quo, rem iste temporibus, adipisci nisi animi in dignissimos.
                    Dolore optio libero fugiat est quis labore adipisci nam, doloribus eaque, corrupti minima
                    perspiciatis in quod cum soluta?</div>
            </div>

            <div class="new-reviews__item">
                <div class="new-reviews__item_title">Если есть имя то тут Имя</div>
                <div class="new-reviews__item_subtitle">Если отзыв с другой площадки</div>
                <div class="new-reviews__item_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium laudantium corporis sed doloribus, numquam fugit nesciunt ullam fuga qui obcaecati
                    explicabo alias doloremque quam omnis error. Modi vitae ipsum, voluptate autem et magni eum maxime
                    repellat, sunt cupiditate sit architecto accusamus dolore placeat fugit ipsa, doloribus saepe atque
                    temporibus quod suscipit ipsam. Reiciendis dignissimos iure aliquam quis suscipit dicta quasi.</div>
            </div>

            <div class="new-reviews__item">
                <div class="new-reviews__item_title">Если есть имя то тут Имя</div>
                <div class="new-reviews__item_subtitle">Если отзыв с другой площадки</div>
                <div class="new-reviews__item_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Reprehenderit explicabo, dolorum soluta quos rem consectetur quisquam quis quibusdam, temporibus
                    unde in delectus. At amet culpa doloremque temporibus quam neque accusantium, possimus nobis
                    officia, voluptatibus magni unde accusamus veritatis placeat illum!</div>
            </div>

            <div class="new-reviews__item">
                <div class="new-reviews__item_title">Если есть имя то тут Имя</div>
                <div class="new-reviews__item_subtitle">Если отзыв с другой площадки</div>
                <div class="new-reviews__item_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
                    accusamus a, mollitia dolor aperiam voluptates nesciunt, sapiente soluta est earum fuga?
                    Praesentium, officia laborum vitae incidunt modi rem eos ab.</div>
            </div>

        </div>
    </div>
</section>