<section class="new-advantages container">
    <div class="new-advantages__block">
        <div class="new-advantages__card new-advantages__card--contact">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/1.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title">Поддержка клиентов <span
                    class="new-advantages__card_title--active">24/7</span></div>
            <a href="#" class="new-advantages__card_button">Связаться</a>
        </div>
        <div class="new-advantages__card new-advantages__card--discount">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/2.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title"><span class="new-advantages__card_title--active">Регулярные</span>
                скидки и акции</div>
        </div>
        <div class="new-advantages__card new-advantages__card--ship">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/3.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title">Моментальная <span
                    class="new-advantages__card_title--active">доставка</span></div>
        </div>
        <div class="new-advantages__card new-advantages__card--work">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/4.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title">Более <span class="new-advantages__card_title--active">10
                    лет</span> работы</div>
        </div>
        <div class="new-advantages__card new-advantages__card--price">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/5.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title">Самые <span class="new-advantages__card_title--active">лучшие
                    цены</span></div>
        </div>
        <div class="new-advantages__card new-advantages__card--payment">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/6.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title"><span class="new-advantages__card_title--active">Множество</span>
                способо оплаты</div>
        </div>
        <div class="new-advantages__card new-advantages__card--selected">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/7.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title">Выбор <span
                    class="new-advantages__card_title--active">большинства</span></div>
        </div>
        <div class="new-advantages__card new-advantages__card--partner">
            <div class="new-advantages__card_icon">
                <img src="../assets/images/new-advantages/8.svg" alt="Иконка">
            </div>
            <div class="new-advantages__card_title new-advantages__card_title--partner">Лучшая партнерская программа</div>
            <a href="#" class="new-advantages__card_button new-advantages__card_button--active">Интересно</a>
        </div>
    </div>
</section>